In [4]:
import pandas as pd
import pandas as pd
report=pd.DataFrame()
report=report.append({"nfactura": 23,"moneda": "peso mexicano"},ignore_index=True)
report.to_excel("public/storage/report/reporte-test2.xlsx")

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_17952\3859268149.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  report=report.append({"nfactura": 23,"moneda": "peso mexicano"},ignore_index=True)

In [11]:
import pandas as pd
import sys
import mysql.connector
id=91

In [3]:
cnx = mysql.connector.connect(user='tyrsa', password='1234',
                              host='localhost',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
                              
cursor=cnx.cursor(buffered=True)

In [15]:
query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
order_id=pagos.loc[pagos["id"]==id,"order_id"].values[0]
thisPays=pagos.loc[pagos["order_id"]==order_id]
print(order_id)
pagos.columns

17

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['id', 'created_at', 'updated_at', 'order_id', 'concept', 'percentage',
       'amount', 'date', 'nota', 'status', 'comprobante', 'nfactura', 'ncomp',
       'tipo_cambio', 'porcentaje_parcial', 'moneda', 'fecha_factura',
       'porcentaje_acumulado', 'importe_total', 'importe_acumulado'],
      dtype='object')

In [16]:
thisPays[["id","order_id","concept","amount","date","tipo_cambio","porcentaje_parcial"]]

,id,order_id,concept,amount,date,tipo_cambio,porcentaje_parcial
10,90,17,compras de materiales,118308.0,2022-11-11,10.0,60.0
11,91,17,planos,144599.0,2022-12-10,10.0,5.0

In [13]:
thisPays

,id,created_at,updated_at,order_id,concept,percentage,amount,date,nota,status,comprobante,nfactura,ncomp,tipo_cambio,porcentaje_parcial,moneda,fecha_factura,porcentaje_acumulado,importe_total,importe_acumulado
11,91,2022-11-28 12:37:26,2022-12-08 11:01:45,17,planos,55.0,144599.0,2022-12-10,None,pagado,None,137.0,137.0,10.0,5.0,DOLAR,2023-01-06,7.0,87000.0,3000.0