In [9]:
import pandas as pd
import pandas as pd
report=pd.DataFrame()
report=report.append({"nfactura": 23,"moneda": "peso mexicano"},ignore_index=True)
report.to_excel("public/storage/report/reporte-test2.xlsx")

C:\Users\hp\AppData\Local\Temp\ipykernel_640\117123331.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  report=report.append({"nfactura": 23,"moneda": "peso mexicano"},ignore_index=True)

In [10]:
import pandas as pd
import sys
import mysql.connector
id=209

In [57]:
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
cursor=cnx.cursor(buffered=True)

In [78]:
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
                              
cursor=cnx.cursor(buffered=True)
query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
order_id=pagos.loc[pagos["id"]==id,"order_id"].values[0]
thisPays=pagos.loc[pagos["order_id"]==order_id]
print(order_id)
pagos.columns

46

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\4260957245.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)

Index(['id', 'created_at', 'updated_at', 'order_id', 'concept', 'percentage',
       'amount', 'date', 'nota', 'status', 'nfactura', 'ncomp', 'moneda',
       'fecha_factura', 'importe_total', 'porcentaje_parcial', 'tipo_cambio',
       'importe_acumulado', 'porcentaje_acumulado', 'capturista'],
      dtype='object')

In [19]:
thisPays[["id","order_id","concept","amount","date","tipo_cambio","porcentaje_parcial"]]

,id,order_id,concept,amount,date,tipo_cambio,porcentaje_parcial
32,184,23,factura,391500.0,2022-12-15,10.0,60.0
33,185,23,2,43500.0,2022-12-21,NaN,NaN

In [20]:
thisPays.to_excel("testreport1.xlsx")

In [23]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

In [22]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     ------------------------------------ 150.0/150.0 kB 998.2 kB/s eta 0:00:00
Installing collected packages: xlsxwriter

ERROR: Could not install packages due to an OSError: [Errno 13] Permission denied: 'C:\\Python310\\Scripts\\vba_extract.py'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1',startrow=0, startcol=1,)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\3282761628.py:11: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

In [31]:
thisPays.to_excel(writer, sheet_name='Sheet1',startrow=10, startcol=1,)
writer.save()

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\1837818026.py:2: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

In [29]:
thisPays

,id,created_at,updated_at,order_id,concept,percentage,amount,date,nota,status,nfactura,ncomp,moneda,fecha_factura,importe_total,porcentaje_parcial,tipo_cambio,importe_acumulado,porcentaje_acumulado,capturista
32,184,2022-12-03 15:00:10,2022-12-08 21:11:27,23,factura,90.0,391500.0,2022-12-15,None,pagado,137.0,137.0,PESO MEXICANO,2022-12-21,38945.0,60.0,10.0,3000.0,2.0,0.0
33,185,2022-12-03 15:00:10,2022-12-03 15:00:10,23,2,10.0,43500.0,2022-12-21,None,por cobrar,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,0.0

In [36]:
import pandas as pd

# Create a Pandas dataframe from the data.
df = pd.DataFrame({'Data': [10, 20, 30, 20, 15, 30, 45]})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\4184511828.py:13: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

In [45]:

# A simple example of merging cells with the XlsxWriter Python module.
#
# SPDX-License-Identifier: BSD-2-Clause
# Copyright 2013-2022, John McNamara, jmcnamara@cpan.org
#
import xlsxwriter


# Create an new Excel file and add a worksheet.
workbook = xlsxwriter.Workbook('merge1.xlsx')
worksheet = workbook.add_worksheet()

# Increase the cell size of the merged cells to highlight the formatting.
#worksheet.set_column('B:D', 12)
worksheet.set_row(3, 30)
worksheet.set_row(6, 30)
worksheet.set_row(7, 30)


# Create a format to use in the merged range.
merge_format = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':14})


# Merge 3 cells.
worksheet.merge_range('G2:N2', 'TYRSA CONSORCIO S.A. DE C.V. ', merge_format)

# Merge 3 cells over two rows.
#worksheet.merge_range('B7:D8', 'Merged Range', merge_format)
thisPays.to_excel(writer, sheet_name='Sheet1',startrow=10, startcol=1,)
#writer.save()

workbook.close()

In [107]:
writer = pd.ExcelWriter('pandas_table.xlsx', engine='xlsxwriter')
thisPays.to_excel(writer, sheet_name='Sheet1', startrow=6, header=False, index=False)
workbook = writer.book
worksheet = writer.sheets['Sheet1']
rojo_g = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})       

header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'border': 1})

# Write the column headers with the defined format.
for col_num, value in enumerate(thisPays.columns.values):
    worksheet.write(5, col_num + 1, value, header_format)

# Merge 3 cells.
worksheet.merge_range('G2:N2', 'TYRSA CONSORCIO S.A. DE C.V. ', rojo_g)
worksheet.merge_range('G3:N3', 'Soluciones en logistica interior', negro_s)
worksheet.merge_range('G4:N4', 'Contraportada Pedido interno No.' + str(orden["invoice"].values[0]), negro_b)
worksheet.merge_range('G5:N5', 'Control de Cobros por P.I.', rojo_b)


workbook.close()

In [79]:
orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\406418389.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_15772\406418389.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_15772\406418389.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

In [83]:
query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
order_id=pagos.loc[(pagos["id"]==id,"order_id") ].values[0]
thisPays=pagos.loc[(pagos["order_id"]==order_id)&(pagos["status"]=="pagado") ]
print(order_id)

46

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\591823726.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)

In [119]:
df=thisPays[["nfactura","ncomp","moneda","fecha_factura","amount","percentage","tipo_cambio","importe_acumulado","porcentaje_acumulado"]]
df

,nfactura,ncomp,moneda,fecha_factura,amount,percentage,tipo_cambio,importe_acumulado,porcentaje_acumulado
0,NaN,NaN,PESO MEXICANO,PESO MEXICANO,87000.0,25.0,NaN,87000.0,25.0
1,210.0,210.0,PESO MEXICANO,PESO MEXICANO,87000.0,25.0,10.0,174000.0,50.0
2,34.0,3.0,PESO MEXICANO,PESO MEXICANO,174000.0,50.0,10.0,348000.0,100.0

In [83]:
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
order_id=pagos.loc[(pagos["id"]==id,"order_id") ].values[0]
thisPays=pagos.loc[(pagos["order_id"]==order_id)&(pagos["status"]=="pagado") ]
thisAllPays=pagos.loc[(pagos["order_id"]==order_id) ]
print(order_id)
orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

pac=0#porcentaje acumulado
mac=0#monto acumulado
thisPays=thisPays.reset_index(drop=True)
for i in thisPays.itertuples():
    pac=pac+i[6]
    thisPays.iloc[i[0],18]=pac
    mac=mac+i[7]
    thisPays.iloc[i[0],17]=mac
    thisPays.iloc[i[0],12]=str(moneda["coin"].values[0])
    print(mac)
    print(i[0])
df=thisPays[["nfactura","ncomp","moneda","fecha_factura","amount","percentage","tipo_cambio","importe_acumulado","porcentaje_acumulado"]]

46
87000.0
0
174000.0
1
348000.0
2

C:\Users\hp\AppData\Local\Temp\ipykernel_640\1315352817.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_640\1315352817.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_640\1315352817.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_640\1315352817.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

In [89]:
writer = pd.ExcelWriter('Rtest-'+str(order_id)+'.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1', startrow=9,startcol=6, header=False, index=False)
prog=thisAllPays[["moneda","fecha_factura","amount","percentage"]]
prog.to_excel(writer, sheet_name='Sheet1', startrow=9,startcol=2, header=False, index=False)

workbook = writer.book
worksheet = writer.sheets['Sheet1']
rojo_g = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})       

header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1})

blue_header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'border_color':'blue',
    'border': 1})

blue_hf = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'border_color':'blue',
    'font_color': 'blue',
    'border': 1})

observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})
worksheet.set_column(2,19,15)
# Write the column headers with the defined format.
worksheet.merge_range(7,6,8,6, "FACTURA NUMERO",header_format)
worksheet.merge_range(7,7,8,7, "COMPROBANTE DE INGRESOS NUMERO",header_format)

worksheet.merge_range('I8:L8', 'REAL', header_format)
worksheet.write(8, 8, "MONEDA", header_format)
worksheet.write(8, 9, "FECHA DD-MM-AA", header_format)
worksheet.write(8, 10, "IMPORTE $ IVA INCLUIDO", header_format)
worksheet.write(8, 11, "% DEL PAGO PARCIAL", header_format)

worksheet.merge_range(7,12,8,12, "TIPO DE CAMBIO",header_format)

worksheet.merge_range(7,13,7,14, "EQUIVALENTE EN M.N.",header_format)
worksheet.write(8,13 ,"IMPORTE ACUMULADO",header_format)
worksheet.write(8,14 ,"PORCENTAJE DEL PAGO ACUMULADO",header_format)


for j in range(1,len(df)+1):
    worksheet.write(8+j, 1, 'Pago'+str(j), negro_b)

worksheet.merge_range(7,15,7,17, "VERIFICACION DEL COBRO",header_format)
worksheet.write(8, 15, 'captura', header_format)
worksheet.write(8, 16, 'GA', header_format)
worksheet.write(8, 17, 'DA', header_format)

#cabeceras
worksheet.merge_range('B8:B9', 'PAGO  (COBRO)', blue_header_format)
worksheet.merge_range('C8:F8', 'Progrmado', blue_hf)
worksheet.write(8, 2, 'Moneda', blue_hf)
worksheet.write(8, 3, 'Fecha', blue_hf)
worksheet.write(8, 4, 'Importe', blue_hf)
worksheet.write(8, 5, "% de pago", blue_hf)

worksheet.write(3, 19, orden["invoice"].values[0], rojo_g)
worksheet.write(5, 18,'$'+ str(orden["total"].values[0]), negro_b)
worksheet.write(6, 18, moneda["code"].values[0], negro_b)
worksheet.merge_range('N6:Q6', 'IMPORTE TOTAL DEL PEDIDO IVA INCLUIDO', negro_s)
worksheet.merge_range('N7:Q7', 'TIPO DE MONEDA', negro_s)
# Encabezado.
worksheet.merge_range('G2:N2', 'TYRSA CONSORCIO S.A. DE C.V. ', rojo_g)
worksheet.merge_range('G3:N3', 'Soluciones en logistica interior', negro_s)
worksheet.merge_range('G4:N4', 'Contraportada Pedido interno No.' + str(orden["invoice"].values[0]), negro_b)
worksheet.merge_range('G5:N5', 'Control de Cobros por P.I.', rojo_b)

###--------------barras inferiores de totales y sumas
trow=len(prog)+11

worksheet.write(trow+1,2,"Totales  ", negro_b)
worksheet.write(trow+2,2,"Validacion ", negro_b)
worksheet.write(trow+3,2,"(Debe ser 0)", negro_b)

worksheet.write(trow+1,4,"$"+str(prog["amount"].sum()), total_cereza_format)
worksheet.write(trow+2,4,"$"+str(orden["total"].values[0]-prog["amount"].sum()),  total_cereza_format)
worksheet.write(trow+3,4,"okay",  total_cereza_format)


worksheet.write(trow+1,5,str(prog["percentage"].sum())+'%', total_cereza_format)
worksheet.write(trow+2,5,str(100-prog["percentage"].sum())+'%',  total_cereza_format)
worksheet.write(trow+3,5,"okay",  total_cereza_format)


worksheet.write(trow+1,9,"Totales  ", negro_b)
worksheet.write(trow+2,9,"Validacion ", negro_b)
worksheet.write(trow+3,9,"(Debe ser 0)", negro_b)

worksheet.write(trow+1,10,"$"+str(df["amount"].sum()), total_cereza_format)
worksheet.write(trow+2,10,"$"+str(orden["total"].values[0]-df["amount"].sum()),  total_cereza_format)
worksheet.write(trow+3,10,"okay",  total_cereza_format)


worksheet.write(trow+1,11,str(df["percentage"].sum())+'%', total_cereza_format)
worksheet.write(trow+2,11,str(100-df["percentage"].sum())+'%',  total_cereza_format)
worksheet.write(trow+3,11,"okay",  total_cereza_format)

worksheet.merge_range(trow+1,12,trow+1,17, 'Equivalente en moneda nacional incluye IVA', header_format)
worksheet.merge_range(trow+2,12,trow+2,13, 'DA',header_format)
worksheet.merge_range(trow+2,14,trow+2,15, 'COBRADO',header_format)
worksheet.merge_range(trow+2,16,trow+2,17, 'POR COBRAR',header_format)
worksheet.merge_range(trow+3,12,trow+3,13,"$"+str(orden["total"].values[0]) ,total_cereza_format)
worksheet.merge_range(trow+3,14,trow+3,15, "$"+str(df["amount"].sum()),total_cereza_format)
worksheet.merge_range(trow+3,16,trow+3,17, '$'+str(orden["total"].values[0]-df["amount"].sum()),total_cereza_format)

worksheet.write(trow+4, 5, 'OBSERVACIONES',negro_b)
worksheet.merge_range(trow+5,2,trow+8,10, str(orden["observations"].values[0]), observaciones_format)

workbook.close()

In [71]:
orden

,id,invoice,date,customer_id,seller_id,date_delivery,instalation_date,shipment,customer_shipping_address_id,coin_id,...,iva,total,payment_conditions,observations,status,authorization_id,created_at,updated_at,comision,reg_date
0,46,144,2022-12-03,5,2,2022-12-02,2022-12-15,Sí,5,1,...,48000.0,348000.0,3,None,autorizado,1,2022-12-03 16:48:35,2022-12-03 17:07:20,1.0,2022-12-03

In [109]:
moneda["coin"].values[0]

'PESO MEXICANO'

In [112]:
orden

,id,invoice,date,customer_id,seller_id,date_delivery,instalation_date,shipment,customer_shipping_address_id,coin_id,...,iva,total,payment_conditions,observations,status,authorization_id,created_at,updated_at,comision,reg_date
0,46,144,2022-12-03,5,2,2022-12-02,2022-12-15,Sí,5,1,...,48000.0,348000.0,3,None,autorizado,1,2022-12-03 16:48:35,2022-12-03 17:07:20,1.0,2022-12-03

In [7]:
# Import Library
from win32com import client
# Opening Microsoft Excel
excel = client.Dispatch("Excel.Application")
# Read Excel File
sheets = excel.Workbooks.Open(r'C:\xampp\htdocs\admintyrsa2\tyrsaAdminmerge1.xlsx')
work_sheets = sheets.Worksheets[0]
# Converting into PDF File
work_sheets.ExportAsFixedFormat(0, 'testreport1.pdf')

com_error: (-2147352567, 'Ocurrió una excepción.', (0, 'Microsoft Excel', 'Error en el método Open de la clase Workbooks.', 'xlmain11.chm', 0, -2146827284), None)