In [15]:
import pandas as pd
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
id=23
# initialize list of lists
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)

query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
#order_id=pagos.loc[(pagos["id"]==int(id),"order_id") ].values[0]
order_id=int(id)
thisPays=pagos.loc[(pagos["order_id"]==order_id)&(pagos["status"]=="pagado") ]
print(order_id)
orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)
writer = pd.ExcelWriter("test-factura_resumida"+str(id)+".xlsx", engine='xlsxwriter')


workbook = writer.book
##FORMATOS PARA EL TITULO---------------------------------------
azul_g = workbook.add_format({
    'bold': 1,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': '#0070C0',
    'font_size':17})
rojo_g = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'border': 1})
    
thisAllPays=pagos.loc[pagos["order_id"]==order_id ]
worksheet = writer.sheets['Sheet1']
worksheet.write(3, 20, orden["invoice"].values[0], azul_g)
# Encabezado.
worksheet.merge_range('G2:N2', 'FACTURA RESUMIDA ', azul_g)
worksheet.merge_range('G3:N3', 'CUENTAS POR COBRAR DE PEDIDOS INTERNOS', azul_g)



#Dataframe yellow headers bitch xd
worksheet.merge_range('B6:B7', 'NOH', header_format)
worksheet.merge_range('C6:C7', 'FECHA D-M-A', header_format)
worksheet.merge_range('D6:D7', 'P.I. NO.', header_format)
worksheet.merge_range('E6:E7', 'NUMERO DE PAGO', header_format)
worksheet.merge_range('F6:F7', 'NUMERO TOTAL DE PAGOS', header_format)
worksheet.merge_range('G6:G7', 'FACTURA FOLIO NO.', header_format)
worksheet.merge_range('H6:H7', 'CLIENTE NO', header_format)
worksheet.merge_range('I6:I7', 'NOMBRE CORTO CLIENTE', header_format)
worksheet.merge_range('J6:J7', 'CATEGORIA EQUIPO', header_format)
worksheet.merge_range('K6:K7', 'DESCRIPCION BREVE', header_format)
worksheet.merge_range('L6:L7', 'UBI / SUC / TIENDA PROYECTO', header_format)
worksheet.merge_range('M6:M7', 'TIPO DE MOBEDA', header_format)
worksheet.merge_range('N6:N7', 'TIPO DE CAMBIO', header_format)


worksheet.merge_range('O6:P6', 'IMPORTE TOTAL SIN IVA', header_format)
worksheet.write(6, 14, "MONEDA", header_format)
worksheet.write(6, 15, "FECHA DD-MM-AA", header_format)

worksheet.merge_range('Q6:Q7', 'CAPTURO', header_format)
worksheet.merge_range('R6:R7', 'REVISO', header_format)
worksheet.merge_range('S6:S7', 'AUTORIZO', header_format)
worksheet.merge_range('T6:T7', 'STATUS', header_format)

##columnas y tablas como tal pues
df=thisAllPays[["date","order_id","created_at","updated_at","nfactura",
"ncomp","date","date","date","moneda","tipo_cambio","amount","date"]]
df.to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=2, header=False, index=False)
trow=8+len(df)
worksheet.write(20, 20, len(df),header_format)
worksheet.merge_range(12,trow,13,trow, 'Total sin iva', header_format)

workbook.close()

23

C:\Users\hp\AppData\Local\Temp\ipykernel_24076\1992714726.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_24076\1992714726.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_24076\1992714726.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_24076\1992714726.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

KeyError: 'Sheet1'

In [17]:
orden

,id,invoice,date,customer_id,seller_id,date_delivery,instalation_date,shipment,customer_shipping_address_id,coin_id,...,iva,total,payment_conditions,observations,status,authorization_id,created_at,updated_at,comision,reg_date
0,23,122,2022-11-17,1,1,2022-11-17,2022-11-11,Sí,1,1,...,60000.0,435000.0,1 PAGO,None,autorizado,1,2022-11-17 18:55:23,2022-11-17 18:59:52,0.0,2022-12-03

In [6]:
import pandas as pd
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
id=58
# initialize list of lists
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)

query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
#order_id=pagos.loc[(pagos["id"]==int(id),"order_id") ].values[0]
order_id=int(id)
thisAllPays=pagos.loc[pagos["order_id"]==order_id ]
print(order_id)
orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)
#writer = pd.ExcelWriter("factura_resumida"+str(id)+".xlsx", engine='xlsxwriter')

58

C:\Users\hp\AppData\Local\Temp\ipykernel_24076\37657178.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_24076\37657178.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_24076\37657178.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_24076\37657178.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

In [5]:
import pandas as pd
import sys
import mysql.connector
id=209

In [8]:
thisAllPays.columns

Index(['id', 'created_at', 'updated_at', 'order_id', 'concept', 'percentage',
       'amount', 'date', 'nota', 'status', 'nfactura', 'ncomp', 'moneda',
       'fecha_factura', 'importe_total', 'porcentaje_parcial', 'tipo_cambio',
       'importe_acumulado', 'porcentaje_acumulado', 'capturista'],
      dtype='object')

In [10]:
df=thisAllPays[["date","order_id","created_at","updated_at","nfactura",
"ncomp","date","date","date","moneda","tipo_cambio","amount","date"]]
df

,date,order_id,created_at,updated_at,nfactura,ncomp,date,date,date,moneda,tipo_cambio,amount,date
62,2022-12-12,58,2022-12-12 15:28:55,2022-12-12 15:28:55,None,NaN,2022-12-12,2022-12-12,2022-12-12,None,NaN,4060000.0,2022-12-12
63,2022-12-21,58,2022-12-12 15:28:55,2022-12-12 15:28:55,None,NaN,2022-12-21,2022-12-21,2022-12-21,None,NaN,4060000.0,2022-12-21
64,2022-12-01,58,2022-12-12 15:28:55,2022-12-12 15:28:55,None,NaN,2022-12-01,2022-12-01,2022-12-01,None,NaN,3480000.0,2022-12-01

In [20]:
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
cursor=cnx.cursor(buffered=True)

In [5]:
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
                              
cursor=cnx.cursor(buffered=True)
query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
order_id=pagos.loc[pagos["id"]==id,"order_id"].values[0]
thisPays=pagos.loc[pagos["order_id"]==order_id]
print(order_id)
pagos.columns

46

C:\Users\hp\AppData\Local\Temp\ipykernel_2104\268649139.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)

Index(['id', 'created_at', 'updated_at', 'order_id', 'concept', 'percentage',
       'amount', 'date', 'nota', 'status', 'nfactura', 'ncomp', 'moneda',
       'fecha_factura', 'importe_total', 'porcentaje_parcial', 'tipo_cambio',
       'importe_acumulado', 'porcentaje_acumulado', 'capturista'],
      dtype='object')

In [19]:
thisPays[["id","order_id","concept","amount","date","tipo_cambio","porcentaje_parcial"]]

,id,order_id,concept,amount,date,tipo_cambio,porcentaje_parcial
32,184,23,factura,391500.0,2022-12-15,10.0,60.0
33,185,23,2,43500.0,2022-12-21,NaN,NaN

In [20]:
thisPays.to_excel("testreport1.xlsx")

In [23]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

In [22]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     ------------------------------------ 150.0/150.0 kB 998.2 kB/s eta 0:00:00
Installing collected packages: xlsxwriter

ERROR: Could not install packages due to an OSError: [Errno 13] Permission denied: 'C:\\Python310\\Scripts\\vba_extract.py'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1',startrow=0, startcol=1,)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\3282761628.py:11: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

In [31]:
thisPays.to_excel(writer, sheet_name='Sheet1',startrow=10, startcol=1,)
writer.save()

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\1837818026.py:2: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

In [29]:
thisPays

,id,created_at,updated_at,order_id,concept,percentage,amount,date,nota,status,nfactura,ncomp,moneda,fecha_factura,importe_total,porcentaje_parcial,tipo_cambio,importe_acumulado,porcentaje_acumulado,capturista
32,184,2022-12-03 15:00:10,2022-12-08 21:11:27,23,factura,90.0,391500.0,2022-12-15,None,pagado,137.0,137.0,PESO MEXICANO,2022-12-21,38945.0,60.0,10.0,3000.0,2.0,0.0
33,185,2022-12-03 15:00:10,2022-12-03 15:00:10,23,2,10.0,43500.0,2022-12-21,None,por cobrar,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,0.0

In [36]:
import pandas as pd

# Create a Pandas dataframe from the data.
df = pd.DataFrame({'Data': [10, 20, 30, 20, 15, 30, 45]})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\4184511828.py:13: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

In [45]:

# A simple example of merging cells with the XlsxWriter Python module.
#
# SPDX-License-Identifier: BSD-2-Clause
# Copyright 2013-2022, John McNamara, jmcnamara@cpan.org
#
import xlsxwriter


# Create an new Excel file and add a worksheet.
workbook = xlsxwriter.Workbook('merge1.xlsx')
worksheet = workbook.add_worksheet()

# Increase the cell size of the merged cells to highlight the formatting.
#worksheet.set_column('B:D', 12)
worksheet.set_row(3, 30)
worksheet.set_row(6, 30)
worksheet.set_row(7, 30)


# Create a format to use in the merged range.
merge_format = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':14})


# Merge 3 cells.
worksheet.merge_range('G2:N2', 'TYRSA CONSORCIO S.A. DE C.V. ', merge_format)

# Merge 3 cells over two rows.
#worksheet.merge_range('B7:D8', 'Merged Range', merge_format)
thisPays.to_excel(writer, sheet_name='Sheet1',startrow=10, startcol=1,)
#writer.save()

workbook.close()

In [107]:
writer = pd.ExcelWriter('pandas_table.xlsx', engine='xlsxwriter')
thisPays.to_excel(writer, sheet_name='Sheet1', startrow=6, header=False, index=False)
workbook = writer.book
worksheet = writer.sheets['Sheet1']
worksheet.conditional_format(xlsxwriter.utility.xl_range(9, 6, len(df), len(df.columns)), {'type': 'no_errors', 'format': border_fmt})

##FORMATOS PARA EL TITULO---------------------------------------
rojo_g = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1})

blue_header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'border_color':'blue',
    'border': 1})

blue_hf = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'border_color':'blue',
    'font_color': 'blue',
    'border': 1})

#FORMATOS PARA TABLAS PER CE------------------------------------
tabla_normal = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})
# Write the column headers with the defined format.
for col_num, value in enumerate(thisPays.columns.values):
    worksheet.write(5, col_num + 1, value, header_format)

# Merge 3 cells.
worksheet.merge_range('G2:N2', 'TYRSA CONSORCIO S.A. DE C.V. ', rojo_g)
worksheet.merge_range('G3:N3', 'Soluciones en logistica interior', negro_s)
worksheet.merge_range('G4:N4', 'Contraportada Pedido interno No.' + str(orden["invoice"].values[0]), negro_b)
worksheet.merge_range('G5:N5', 'Control de Cobros por P.I.', rojo_b)


workbook.close()

In [79]:
orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\406418389.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_15772\406418389.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_15772\406418389.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

In [83]:
query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
order_id=pagos.loc[(pagos["id"]==id,"order_id") ].values[0]
thisPays=pagos.loc[(pagos["order_id"]==order_id)&(pagos["status"]=="pagado") ]
print(order_id)

46

C:\Users\hp\AppData\Local\Temp\ipykernel_15772\591823726.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)

In [13]:
import pandas as pd
import sys
import xlsxwriter
import mysql.connector
id=1
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)
query = ('SELECT * from internal_orders')
pedidos=pd.read_sql(query,cnx)
nordenes=len(pedidos)

writer = pd.ExcelWriter('consecutivo_pedido'+str(id)+'.xlsx', engine='xlsxwriter')
workbook = writer.book

##FORMATOS PARA EL TITULO---------------------------------------
rojo_g = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1})

blue_header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'border_color':'blue',
    'border': 1})

blue_hf = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'border_color':'blue',
    'font_color': 'blue',
    'border': 1})


#FORMATOS PARA TABLAS PER CE------------------------------------
tabla_normal = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
    
tabla_prog = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1,
    'border_color':'blue',})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})

#azul blanco------------------------------------------
b1no = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'font_size':12,
    'top': 1,
    'left': 1,
    'border_color': '#0094FF'})
    
b1n = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'font_size':13,
    'top': 1,
    'border_color': '#0094FF'})
    
b1ne = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'font_size':13,
     'top': 1,
    'right': 1,
    'border_color': '#0094FF'})
    
b1e = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'font_size':13,
    'right': 1,
    'border_color': '#0094FF'})
    
b1se = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'font_color':'#00D91A',
    'right': 1,
    'bottom': 1,
    'border_color': '#0094FF'})
    
b1s = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'bottom': 1,
    'border_color': '#0094FF'})
    
b1so = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'bottom': 1,
    'left': 1,
    'border_color': '#0094FF'})

b1o = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'left': 1,
    'border_color': '#0094FF'})

 #-------------------------------------------------
 # AZUL ROJO
 
b2n = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'font_size':13,
    'top': 1,
    'left': 1,
    'right': 1,
    'border_color': '#0094FF'})
    
b2c = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'font_size':12,
    'left': 1,
    'right': 1,
    'border_color': '#0094FF'})
    
b2s = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'font_size':13,
    'font_color':'#00D91A',
    'left': 1,
    'right': 1,
    'bottom':1,
    'border_color': '#0094FF'})
    
#---------------negro AMARILLO
b3n = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'font_size':13,
    'top': 1,
    'left': 1,
    'right': 1,})
    
b3c = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'font_size':12,
    'left': 1,
    'right': 1,})
    
b3s = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'font_size':13,
    'font_color':'#00D91A',
    'left': 1,
    'right': 1,
    'bottom':1,})
    
    #---------------NEGRO ROJO
b4n= workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'font_size':12,
    'top': 1,
    'left': 1,
    'right':1})
    
b4c = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'font_size':13,
    'left': 1,
    'right':1})
    
b4s = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'font_size':12,
    'font_color':'#00D91A',
    'left': 1,
    'right':1,
    'bottom':1})
    
#dataframes

pedidos.to_excel(writer, sheet_name='Sheet1', startrow=14,startcol=4, header=False, index=False)
worksheet = writer.sheets['Sheet1']
#worksheet.set_column(2,19,15)
# Encabezado.
worksheet.merge_range('G2:N2', 'TYRSA CONSORCIO S.A. DE C.V. ', rojo_g)
worksheet.merge_range('G3:N3', 'Soluciones en logistica interior', negro_s)
worksheet.merge_range('G4:N4', 'CONSECUTIVO DE PEDIDOS INTERNOS' ,negro_b)
worksheet.merge_range('G5:N5', 'Control de Cobros por P.I.', rojo_b)
worksheet.write('O4', "AÑO", negro_b)
worksheet.write('P4', "2022", negro_b)
worksheet.write('O6', "ACUMULADO", negro_s)
worksheet.write('O8', "HASTA EL ULTIMO PEDIDO", negro_s)


worksheet.merge_range('C12:C14', 'PDA \n NHO \n 2022', header_format)
worksheet.merge_range('D12:D14', 'FECHA DE EMISION  \n DD-MM-AA', header_format)
worksheet.merge_range('E12:E14', 'PEDIDO INTERNO NO.', header_format)

worksheet.merge_range('F12:G12', 'CLIENTE', header_format)
worksheet.merge_range('F13:F14', 'NUMERO', header_format)
worksheet.merge_range('G13:G14', 'NOMBRE CORTO', header_format)

worksheet.merge_range('H12:H14', 'CATEGORIA DEL EQUIPO', header_format)
worksheet.merge_range('I12:I14', 'DESCRIPCION BREVE', header_format)
worksheet.merge_range('J12:J14', 'UBICACION/SUCURSAL/TIENDA/PROYECTO', header_format)
worksheet.merge_range('K12:K14', 'TIPO DE MONEDA', header_format)

worksheet.merge_range('L12:O12', 'IMPORTE TOTAL SIN IVA', header_format)
worksheet.merge_range('L13:M13', 'MONEDA EXTRANJERA', header_format)
worksheet.write('L14', 'NOMBRE', header_format)
worksheet.write('M14', 'IMPORTE', header_format)
worksheet.merge_range('N13:N14', 'TIPO DE CAMBIO', header_format)
worksheet.merge_range('O13:O14', 'M.N. (EQUIVALENTE)', header_format)

worksheet.merge_range('P12:P14', 'ACUMULADO EN MONEDA NACIONAL (EQUIVALENTE)', header_format)
worksheet.merge_range('Q12:Q14', 'STATUS', header_format)

workbook.close()
import excel2img
excel2img.export_img('consecutivo_pedido'+str(id)+'.xlsx','consecutivo_pedido'+str(id)+'.png')
from PIL import Image
image_1 = Image.open('consecutivo_pedido'+str(id)+'.png',)
im_1 = image_1.convert('RGB')
im_1.save('consecutivo_pedido'+str(id)+'.pdf')

C:\Users\hp\AppData\Local\Temp\ipykernel_8052\867967884.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql(query,cnx)

In [16]:
import pandas as pd
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
id=50
# initialize list of lists
cnx = mysql.connector.connect(user='tyrsa',
                              password='1234',
                              host='localhost',
                              port='8111',
                              database='u458219132_tyrsawesadmin',
                              use_pure=False)

query = ('SELECT * from payments')
pagos=pd.read_sql(query,cnx)
#order_id=pagos.loc[(pagos["id"]==int(id),"order_id") ].values[0]
order_id=int(id)
thisAllPays=pagos.loc[(pagos["order_id"]==order_id) ]
print(order_id)
orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)
writer = pd.ExcelWriter("factura_resumida"+str(id)+".xlsx", engine='xlsxwriter')

df=thisAllPays[["date","order_id","created_at","updated_at","nfactura",
"ncomp","date","date","date","moneda","tipo_cambio","amount","capturista","date","date","status"]]
df.to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=2, header=False, index=False)

workbook = writer.book
##FORMATOS PARA EL TITULO---------------------------------------
azul_g = workbook.add_format({
    'bold': 1,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': '#0070C0',
    'font_size':17})
rojo_g = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      
 
azulito = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'fg_color': '#B4C6E7',
    'font_size':12})
#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'border': 1})

header_format_green = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': 'yellow',
    'font_color':'green',
    'border': 1})
#FORMATOS PARA TABLAS PER CE------------------------------------
tabla_normal = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
    
thisAllPays=pagos.loc[pagos["order_id"]==order_id ]
worksheet = writer.sheets['Sheet1']
worksheet.write(3, 20, orden["invoice"].values[0], azul_g)
# Encabezado.
worksheet.merge_range('G2:N2', 'FACTURA RESUMIDA ', azul_g)
worksheet.merge_range('G3:N3', 'CUENTAS POR COBRAR DE PEDIDOS INTERNOS', azul_g)

worksheet.set_column(2, 2, 25)

#Dataframe yellow headers bitch xd
worksheet.merge_range('B6:B7', 'NOH', header_format)
worksheet.merge_range('C6:C7', 'FECHA D-M-A', header_format)
worksheet.merge_range('D6:D7', 'P.I. NO.', header_format)
worksheet.merge_range('E6:E7', 'NUMERO DE PAGO', header_format)
worksheet.merge_range('F6:F7', 'NUMERO TOTAL DE PAGOS', header_format)
worksheet.merge_range('G6:G7', 'FACTURA FOLIO NO.', header_format)
worksheet.merge_range('H6:H7', 'CLIENTE NO', header_format)
worksheet.merge_range('I6:I7', 'NOMBRE CORTO CLIENTE', header_format)
worksheet.merge_range('J6:J7', 'CATEGORIA EQUIPO', header_format)
worksheet.merge_range('K6:K7', 'DESCRIPCION BREVE', header_format)
worksheet.merge_range('L6:L7', 'UBI / SUC / TIENDA PROYECTO', header_format)
worksheet.merge_range('M6:M7', 'TIPO DE MOBEDA', header_format)
worksheet.merge_range('N6:N7', 'TIPO DE CAMBIO', header_format)


worksheet.merge_range('O6:P6', 'IMPORTE TOTAL SIN IVA', header_format)
worksheet.write(6, 14, "DLLS", header_format_green)
worksheet.write(6, 15, "M.N.(Equivalente)", header_format)

worksheet.merge_range('Q6:Q7', 'CAPTURO', header_format)
worksheet.merge_range('R6:R7', 'REVISO', header_format)
worksheet.merge_range('S6:S7', 'AUTORIZO', header_format)
worksheet.merge_range('T6:T7', 'STATUS', header_format)

##columnas y tablas como tal pues
for i in range(0,len(df)):
     worksheet.write(7+i, 1, i+1,azulito)

for i in range(0,len(df)):
     worksheet.write(7+i, 3, orden["invoice"].values[0],tabla_normal)

for i in range(0,len(df)):
     worksheet.write(7+i, 4, i+1,tabla_normal)

for i in range(0,len(df)):
     worksheet.write(7+i, 5, len(df),tabla_normal)
     worksheet.write(7+i, 8, cliente["id"].values[0],tabla_normal)
     worksheet.write(7+i, 9, cliente["alias"].values[0],tabla_normal)
     

#barra inferior de totales
trow=8+len(df)
worksheet.write(20, 20, len(df),header_format)
worksheet.merge_range(trow,12,trow,13 ,'Total sin iva', header_format)
worksheet.write(trow, 14, df["amount"].sum(),header_format_green)
worksheet.write(trow, 15, df["amount"].sum(),header_format)
workbook.close()

C:\Users\hp\AppData\Local\Temp\ipykernel_8052\2828073726.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pagos=pd.read_sql(query,cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_8052\2828073726.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orden = pd.read_sql("select * from internal_orders where id="+str(order_id),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_8052\2828073726.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cliente = pd.read_sql("select * from customers where id = "+str(orden["customer_id"].values[0]),cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_8052\2828073726.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  moneda = pd.read_sql("select * from coins where id="+str(orden["coin_id"].values[0]),cnx)

50

In [17]:
df

,date,order_id,created_at,updated_at,nfactura,ncomp,date,date,date,moneda,tipo_cambio,amount,capturista,date,date,status
49,2022-12-03,50,2022-12-03 19:23:00,2022-12-03 19:23:00,None,None,2022-12-03,2022-12-03,2022-12-03,None,NaN,29000.0,0,2022-12-03,2022-12-03,por cobrar
50,2022-12-14,50,2022-12-03 19:23:00,2022-12-03 19:23:00,None,None,2022-12-14,2022-12-14,2022-12-14,None,NaN,29000.0,0,2022-12-14,2022-12-14,por cobrar
51,2022-12-14,50,2022-12-03 19:23:00,2022-12-03 19:23:00,None,None,2022-12-14,2022-12-14,2022-12-14,None,NaN,58000.0,0,2022-12-14,2022-12-14,por cobrar

In [19]:
thisAllPays["concept"]

49           PLANOS
50         FACTURAS
51    ENTREGA FINAL
Name: concept, dtype: object