In [22]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=0
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id =1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol,coins.code
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
clientes=pd.read_sql("select * from customers",cnx)
cobros=pd.read_sql("""select cobro_orders.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id
                     from (((
                         cobro_orders 
    inner join cobros on cobros.id=cobro_orders.cobro_id)
    inner join internal_orders on internal_orders.id = cobros.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)

facturas=pd.read_sql("""select factures.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )""",cnx)
creditos=pd.read_sql("""select credit_notes.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id as customer_pedido 
                     from (
                         credit_notes
    inner join internal_orders on internal_orders.id = credit_notes.order_id ) """,cnx)
print(creditos)
nordenes=len(pedidos)
df=pedidos[['date']]
print(cobros['order_id'])
tc=pd.read_sql('select * from coins where id=13 ',cnx)['exchange_sell'].values[0]
#Filtrando datos---------------------------------------
#Separar pedidos vigentes
    #Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()
pedidos=pedidos.loc[pedidos['total']-pedidos['saldo']>1]
writer = pd.ExcelWriter('storage/report/CxC_cliente_desglosado_vigente'+str(id)+'.xlsx', engine='xlsxwriter')

workbook = writer.book
##FORMATOS PARA EL TITULO------------------------------------------------------------------------------
rojo_l = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1,})

blue_header_format = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})
blue_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'font_size':13})


#FORMATOS PARA TABLAS PER CE------------------------------------

blue_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})

blue_content_bold = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})

blue_content_bold_dll = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})
blue_content_dll = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})
blue_content_date = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':9,
    'border_color':a_color,
    'num_format': 'dd/mm/yyyy'})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})


df[0:1].to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
worksheet = writer.sheets['Sheet1']
#Encabezado del documento--------------

import datetime

currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
year = date.strftime("%Y")
df[0:1].to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
worksheet = writer.sheets['Sheet1']
#Encabezado del documento--------------
worksheet.merge_range('B2:F2', 'CUENTAS POR COBRAR REPORTE 3B ', negro_b)
worksheet.merge_range('B3:F3', 'DERECHOS ADQUIRIDOS POR COBRAR VIGENTES', negro_s)
worksheet.merge_range('B4:F4', 'CLASIFICADAS POR CLIENTE DESGLOSADO', negro_b)

worksheet.write('H2', 'AÑO', negro_b)

worksheet.write('I2', year, negro_b)
worksheet.merge_range('J2:K3', """FECHA DEL REPORTE
DD/MM/AAAA""", negro_b)

worksheet.write('L2', date, negro_b)
worksheet.insert_image("A1", "img/logo/logo.png",{"x_scale": 0.6, "y_scale": 0.6})
#llenando la tabla
row_index=7
for i in range(0,len(clientes)):
   print(str(i)+' esa no')
   if(len(pedidos.loc[pedidos['customer_id']==clientes['id'].values[i]])>0):
        print(str(i)+'esta si')
        print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        worksheet.merge_range('H'+str(4+row_index)+':R'+str(4+row_index), 'CUENTAS POR COBRAR POR CLIENTE DESGLOSADO', negro_b)

        worksheet.merge_range('C'+str(6+row_index)+':C'+str(10+row_index), 'PDA', blue_header_format)
        worksheet.merge_range('D'+str(6+row_index)+':D'+str(10+row_index), 'PI CANTIDAD', blue_header_format)
        worksheet.merge_range('E'+str(6+row_index)+':E'+str(10+row_index), 'FECHA', blue_header_format)

        worksheet.merge_range('F'+str(6+row_index)+':G'+str(9+row_index), 'CLIENTE', blue_header_format)
        worksheet.write('F'+str(10+row_index), 'NUMERO', blue_header_format)
        worksheet.write('G'+str(10+row_index), 'NOMBRE CORTO', blue_header_format)

        worksheet.merge_range('H'+str(6+row_index)+':H'+str(10+row_index), """ 
                                  MONEDA""", blue_header_format)

        worksheet.merge_range('I'+str(6+row_index)+':L'+str(6+row_index), 'DERECHOS ADQUIRIDOS', blue_header_format)
        worksheet.merge_range('I'+str(7+row_index)+':J'+str(9+row_index), """IMPORTE TOTAL 
(DERECHOS ADQUIRIDOS) 
SIN IVA""", blue_header_format)
        worksheet.write('I'+str(10+row_index), 'MN', blue_header_format)
        worksheet.write('J'+str(10+row_index), 'DLLS', blue_header_format)


        worksheet.merge_range('K'+str(7+row_index)+':L'+str(9+row_index), """COBRADO
(IMPORTE POR COBRAR)
SIN IVA""", blue_header_format)
        worksheet.write('K'+str(10+row_index), 'MN', blue_header_format)
        worksheet.write('L'+str(10+row_index), 'DLLS', blue_header_format)


    

        worksheet.merge_range('M'+str(7+row_index)+':M'+str(10+row_index), '% POR COBRAR DEL PEDIDO INTERNO', blue_header_format)

        worksheet.merge_range('N'+str(6+row_index)+':O'+str(6+row_index), 'DERECHOS ADQUIRIDOS POR COBRAR CONTABLES', blue_header_format)


        worksheet.merge_range('N'+str(7+row_index)+':O'+str(9+row_index), """POR FACTURAR
CXC CONTABLES
(SIN IVA)""", blue_header_format)
        worksheet.write('N'+str(10+row_index), 'MN', blue_header_format)
        worksheet.write('O'+str(10+row_index), 'DLLS', blue_header_format)
        
        worksheet.merge_range('P'+str(6+row_index)+':P'+str(10+row_index), 'STATUS', blue_header_format)
        row_index=str(11+row_index)
        
        print(cobros.columns)
        cobros_mn=cobros.loc[(cobros['customer_id']==clientes['id'].values[i])&(cobros['coin_pedido']==1)]
        facturas_mn=facturas.loc[(facturas['customer_id']==clientes['id'].values[i])&(facturas['coin_pedido']==1)]
        notas_mn=creditos.loc[(creditos['customer_pedido']==clientes['id'].values[i])&(creditos['coin_pedido']==1)]
        
        cobros_dlls=cobros.loc[(cobros['customer_id']==clientes['id'].values[i])&(cobros['coin_pedido']!=1)]
        facturas_dlls=facturas.loc[(facturas['customer_id']==clientes['id'].values[i])&(facturas['coin_pedido']!=1)]
        notas_dlls=creditos.loc[(creditos['customer_id']==clientes['id'].values[i])&(creditos['coin_pedido']!=1)]
        
        pedidos_mn=pedidos.loc[(pedidos['customer_id']==clientes['id'].values[i])&(pedidos['coin_id']==1)]
        pedidos_dlls=pedidos.loc[(pedidos['customer_id']==clientes['id'].values[i])&(pedidos['coin_id']!=1)]
        
        this_pedidos=pedidos.loc[(pedidos['customer_id']==clientes['id'].values[i])]
        
        total_mn=  pedidos_mn['total'].sum()/1.16
        total_dlls=pedidos_dlls['total'].sum()/1.16
        #datos generales del pedido
        #worksheet.write('B'+row_index, str(pedidos['noha'].values[i]), blue_content)
        for k in range(len(this_pedidos)):
            
            this_cobros=cobros.loc[(cobros['order_id']==this_pedidos['id'].values[k])]
            this_facturas=facturas.loc[(facturas['order_id']==this_pedidos['id'].values[k])]
            this_notas=creditos.loc[(creditos['order_id']==this_pedidos['id'].values[k])]
        
            worksheet.write('C'+row_index, str(k+1), blue_content)
            worksheet.write('D'+row_index, this_pedidos['invoice'].values[k], blue_content)
            worksheet.write('E'+row_index, this_pedidos['reg_date'].values[k], blue_content)
            worksheet.write('F'+row_index, str(clientes['clave'].values[i]), blue_content)
            worksheet.write('G'+row_index, str(clientes['alias'].values[i]), blue_content)
            worksheet.write('H'+row_index, this_pedidos['code'].values[k], blue_content)
            #subtotal
            #pesos
            if(this_pedidos['coin_id'].values[k]==1):
                worksheet.write('I'+row_index,this_pedidos['total'].values[k]/1.16, blue_content)
                worksheet.write('J'+row_index, 0, blue_content_dll)
                #por cobrar
                worksheet.write('K'+row_index,this_pedidos['total'].values[k]/1.16- this_cobros['amount'].sum()/1.16 , blue_content)
                worksheet.write('L'+row_index, 0 , blue_content_dll)
                #facturado
                xc=this_pedidos['total'].values[k]/1.16- this_cobros['amount'].sum()/1.16
                if(xc>1):
                    #por facturar
                    worksheet.write('N'+row_index,xc-this_facturas['amount'].sum()/1.16-this_notas['amount'].sum()/1.16-this_cobros['amount'].sum()/1.16 , blue_content)
                    worksheet.write('O'+row_index, 0 , blue_content_dll)
                else:
                    #por facturar
                    worksheet.write('N'+row_index,0, blue_content)
                    worksheet.write('O'+row_index, 0 , blue_content_dll)
           
            
            else:
                worksheet.write('I'+row_index,0, blue_content)
                worksheet.write('J'+row_index, this_pedidos['total'].values[k]/1.16, blue_content_dll)
               #por cobrar
                worksheet.write('K'+row_index,0 , blue_content)
                worksheet.write('L'+row_index, this_pedidos['total'].values[k]/1.16- this_cobros['amount'].sum()/1.16 , blue_content_dll)
         #facturado
                xc=this_pedidos['total'].values[k]/1.16- this_cobros['amount'].sum()/1.16
                if(xc>1):
                    #por facturar
                    worksheet.write('N'+row_index, 0, blue_content)
                    worksheet.write('O'+row_index, xc-this_facturas['amount'].sum()/1.16-this_notas['amount'].sum()/1.16-this_cobros['amount'].sum()/1.16 , blue_content_dll)
                else:
                    #por facturar
                    worksheet.write('N'+row_index,0, blue_content)
                    worksheet.write('O'+row_index, 0 , blue_content_dll)
           
            
            worksheet.write('M'+row_index, "{:.2f}".format((this_pedidos['total'].values[k]- this_cobros['amount'].sum())*100/this_pedidos['total'].values[k])+"%", blue_content)
            
            
             #status
            if(total_mn+total_dlls-cobros_mn['amount'].sum()/1.16-cobros_dlls['amount'].sum()/1.16>1):
                worksheet.write('P'+row_index,'ACTIVO', blue_content)
            else:
                worksheet.write('P'+row_index,'CERRADO', blue_content)
            row_index=str(int(row_index)+1)
        trow=int(row_index)

        worksheet.write('H'+str(trow), 'Subtotales', blue_header_format_bold)
        #SUBTOTAL PEDIDOS MN
        worksheet.write('I'+str(trow), total_mn, blue_content_bold)
        #SUBTOTAL PEDIDOS DLLS
        worksheet.write('J'+str(trow), total_dlls, blue_content_bold)
        #TOTAL POR COBRAR MN
        worksheet.write_formula('K'+str(trow),  '{=SUM(K'+str(trow-len(this_pedidos))+':K'+str(trow-1)+')}', blue_content_bold)
        #TOTAL POR COBRAR DLLS
        worksheet.write_formula('L'+str(trow),  '{=SUM(L'+str(trow-len(this_pedidos))+':L'+str(trow-1)+')}', blue_content_bold)
       
        worksheet.write('M'+str(trow+1),  "{:.2f}".format((this_pedidos['total'].sum()-cobros_dlls['amount'].sum()-cobros_mn['amount'].sum())*100/this_pedidos['total'].sum())+"%", blue_content_bold)
        #TOTAL POR FACTURAR DLLS
        worksheet.write_formula('N'+str(trow),  '{=SUM(N'+str(trow-len(this_pedidos))+':N'+str(trow-1)+')}',blue_content_bold)
        worksheet.write_formula('O'+str(trow),  '{=SUM(O'+str(trow-len(this_pedidos))+':O'+str(trow-1)+')}',blue_content_bold)


        #TOTALES TOTAL DE ADEBIS
        worksheet.write('H'+str(trow), 'Subtotales', blue_header_format_bold)
        worksheet.merge_range('I'+str(trow+1)+':J'+str(trow+1),' ',blue_content_bold)
        worksheet.write_formula('I'+str(trow+1)+':J'+str(trow+1),  'SUM(I'+str(trow)+'+J'+str(trow)+'*'+str(tc)+')',blue_content_bold)

        worksheet.merge_range('K'+str(trow+1)+':L'+str(trow+1),' ',blue_content_bold)
        worksheet.write_formula('K'+str(trow+1)+':L'+str(trow+1),  'SUM(K'+str(trow)+'+L'+str(trow)+'*'+str(tc)+')',blue_content_bold)

        worksheet.merge_range('N'+str(trow+1)+':O'+str(trow+1),' ',blue_content_bold)
        worksheet.write_formula('N'+str(trow+1)+':O'+str(trow+1),  'SUM(N'+str(trow)+'+O'+str(trow)+'*'+str(tc)+')',blue_content_bold)
        
        
        row_index=trow

# worksheet.write('K'+str(trow), str(cobros['amount'].sum()), blue_content)
# worksheet.write('L'+str(trow), str(cobros['exchange_sell'].values[0]*cobros['amount'].sum()), blue_content_bold)

worksheet.set_column('A:A',15)
worksheet.set_column('E:E',20)
worksheet.set_column('L:L',15)
worksheet.set_column('G:G',15)
worksheet.set_column('H:H',15)
worksheet.set_column('I:N',15)
worksheet.set_column('P:T',15)

#worksheet.set_landscape()
worksheet.set_paper(9)
worksheet.fit_to_pages(1, 1)  
workbook.close()

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    id  customer_id facture_id      amount        date  created_at  \
0    5          506       None   329200.00  2022-07-20  2023-05-02
1    6          394       None    49794.16  2023-05-31  2023-06-02
2    7          389       None   136870.00  2022-11-01  2023-06-07
3    8          407       None   202636.54  2023-05-09  2023-06-07
4    9          315       None   940070.84  2023-05-23  2023-06-12
5   10          312       None   464058.00  2023-02-17  2023-06-13
6   12          610       None   435598.56  2023-06-09  2023-06-23
7   14          601       None   903060.00  2023-07-08  2023-07-12
8   16          631       None    44741.20  2023-08-01  2023-08-02
9   17          614       None   493571.88  2023-07-27  2023-08-04
10  19          591       None   452253.49  2023-06-21  2023-08-10
11  20          568       None  1137960.00  2023-02-03  2023-08-14
12  21          396       None   164548.04  2023-02-03  2023-08-15
13  22          388       None    34952.49  2022-12-01  2023-08-15
14  23          369       None    58535.92  2023-02-22  2023-08-15
15  24          396       None   199090.80  2023-01-31  2023-08-15
16  25          573       None   153553.84  2022-08-30  2023-08-16
17  26          395       None   130000.00  2022-10-18  2023-08-21
18  27          391       None   222499.60  2023-01-31  2023-08-21
19  28          407       None    85983.84  2023-05-09  2023-08-21
20  29          312       None        1.16  2023-09-14  2023-09-14
21  30          581       None  1414411.20  2023-09-12  2023-09-21
22  31          620       None   459777.60  2023-09-13  2023-09-21
23  33          446       None  2254726.80  2023-09-20  2023-09-21
24  34          634       None   474393.60  2023-10-04  2023-10-05
25  35          344       None    26796.00  2023-10-04  2023-10-05
26  37          648       None   449398.00  2023-10-10  2023-10-16
27  38          650       None    86681.00  2023-10-23  2023-10-24

    updated_at     status credit_note  order_id  coin_pedido  customer_pedido
0   2023-05-02  CAPTURADA      NC 309       116            1              506
1   2023-06-02  CAPTURADA      NC 357       206            1              394
2   2023-06-07  CAPTURADA      NC 320       135            1              389
3   2023-06-07  CAPTURADA      NC 352       136            1              407
4   2023-06-12  CAPTURADA      NC 356       156            1              315
5   2023-06-13  CAPTURADA      NC 340       143            1              312
6   2023-06-23  CAPTURADA         358       199            1              610
7   2023-07-12  CAPTURADA      NC 364       179            1              601
8   2023-08-02  CAPTURADA      NC 370       258            1              631
9   2023-08-04  CAPTURADA      NC 369       212            1              614
10  2023-08-10  CAPTURADA      NC 361       165            1              591
11  2023-08-14  CAPTURADA      NC 338       285            1              568
12  2023-08-15  CAPTURADA      NC 339       289            1              396
13  2023-08-15  CAPTURADA      NC 326       290            1              388
14  2023-08-15  CAPTURADA      NC 341       291            1              369
15  2023-08-15  CAPTURADA      NC 335       292            1              396
16  2023-08-16  CAPTURADA      NC 316       127            1              573
17  2023-08-21  CAPTURADA      NC 318       148            1              395
18  2023-08-21  CAPTURADA      NC 336       293            1              391
19  2023-08-21  CAPTURADA      NC 351       150            1              407
20  2023-09-14  CAPTURADA        ENC1       132            1              312
21  2023-09-21  CAPTURADA      NC 374       217            1              581
22  2023-09-21  CAPTURADA      NC 375       222            1              620
23  2023-09-21  CAPTURADA      NC 377       155            1              446
24  2023-10-05  CAPTURADA      NC 378       265            1              634
25  2023-10-05  CAPTURADA      NC 379       254            1              344
26  2023-10-16  CAPTURADA      NC 382       308            1              648
27  2023-10-24  CAPTURADA      NC 383       310            1              650
0      116
1      116
2      116
3      116
4      116
      ...
378    311
379    275
380    310
381    257
382    336
Name: order_id, Length: 383, dtype: int64
0 esa no
1 esa no
2 esa no
3 esa no
4 esa no
5 esa no
6 esa no
7 esa no
8 esa no
9 esa no
10 esa no
11 esa no
12 esa no
13 esa no
14 esa no
15 esa no
16 esa no
17 esa no
18 esa no
18esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
19 esa no
20 esa no
21 esa no
22 esa no
23 esa no
24 esa no
25 esa no
26 esa no
27 esa no
28 esa no
29 esa no
30 esa no
31 esa no
32 esa no
33 esa no
34 esa no
35 esa no
36 esa no
37 esa no
38 esa no
39 esa no
40 esa no
40esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
41 esa no
41esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
42 esa no
43 esa no
44 esa no
45 esa no
46 esa no
46esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
47 esa no
48 esa no
49 esa no
50 esa no
51 esa no
52 esa no
53 esa no
54 esa no
55 esa no
56 esa no
57 esa no
58 esa no
59 esa no
60 esa no
61 esa no
62 esa no
63 esa no
64 esa no
65 esa no
66 esa no
67 esa no
68 esa no
69 esa no
70 esa no
71 esa no
72 esa no
73 esa no
74 esa no
75 esa no
76 esa no
77 esa no
78 esa no
79 esa no
80 esa no
81 esa no
82 esa no
83 esa no
84 esa no
85 esa no
86 esa no
87 esa no
88 esa no
89 esa no
90 esa no
91 esa no
91esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
92 esa no
93 esa no
94 esa no
95 esa no
96 esa no
97 esa no
98 esa no
98esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
99 esa no
100 esa no
101 esa no
102 esa no
103 esa no
104 esa no
105 esa no
106 esa no
107 esa no
108 esa no
109 esa no
109esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
110 esa no
111 esa no
112 esa no
113 esa no
114 esa no
115 esa no
116 esa no
116esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
117 esa no
117esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
118 esa no
119 esa no
120 esa no
120esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
121 esa no
122 esa no
123 esa no
124 esa no
125 esa no
126 esa no
127 esa no
128 esa no
129 esa no
130 esa no
131 esa no
132 esa no
133 esa no
134 esa no
135 esa no
136 esa no
136esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
137 esa no
138 esa no
139 esa no
140 esa no
141 esa no
141esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
142 esa no
143 esa no
144 esa no
145 esa no
146 esa no
147 esa no
147esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
148 esa no
149 esa no
150 esa no
151 esa no
152 esa no
153 esa no
154 esa no
155 esa no
156 esa no
156esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
157 esa no
158 esa no
159 esa no
160 esa no
161 esa no
162 esa no
163 esa no
164 esa no
165 esa no
166 esa no
167 esa no
168 esa no
169 esa no
170 esa no
171 esa no
172 esa no
173 esa no
174 esa no
175 esa no
176 esa no
177 esa no
178 esa no
179 esa no
180 esa no
181 esa no
182 esa no
183 esa no
184 esa no
185 esa no
186 esa no
187 esa no
188 esa no
189 esa no
190 esa no
191 esa no
192 esa no
193 esa no
194 esa no
195 esa no
196 esa no
197 esa no
198 esa no
199 esa no
200 esa no
201 esa no
202 esa no
203 esa no
204 esa no
205 esa no
206 esa no
207 esa no
208 esa no
209 esa no
210 esa no
210esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
211 esa no
211esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
212 esa no
213 esa no
214 esa no
215 esa no
216 esa no
217 esa no
218 esa no
219 esa no
220 esa no
221 esa no
222 esa no
223 esa no
224 esa no
225 esa no
226 esa no
227 esa no
228 esa no
229 esa no
230 esa no
231 esa no
232 esa no
232esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
233 esa no
234 esa no
235 esa no
236 esa no
237 esa no
238 esa no
239 esa no
240 esa no
241 esa no
242 esa no
243 esa no
244 esa no
245 esa no
246 esa no
247 esa no
248 esa no
249 esa no
250 esa no
251 esa no
252 esa no
253 esa no
254 esa no
255 esa no
256 esa no
257 esa no
258 esa no
259 esa no
260 esa no
261 esa no
262 esa no
263 esa no
264 esa no
265 esa no
266 esa no
267 esa no
268 esa no
269 esa no
270 esa no
271 esa no
272 esa no
273 esa no
274 esa no
274esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
275 esa no
276 esa no
277 esa no
278 esa no
279 esa no
280 esa no
281 esa no
282 esa no
283 esa no
284 esa no
285 esa no
286 esa no
287 esa no
288 esa no
289 esa no
290 esa no
290esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
291 esa no
292 esa no
293 esa no
294 esa no
295 esa no
296 esa no
297 esa no
298 esa no
299 esa no
300 esa no
301 esa no
302 esa no
303 esa no
304 esa no
304esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
305 esa no
306 esa no
307 esa no
308 esa no
309 esa no
310 esa no
311 esa no
311esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
312 esa no
313 esa no
313esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
314 esa no
314esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
315 esa no
316 esa no
317 esa no
318 esa no
319 esa no
319esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
320 esa no
321 esa no
321esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
322 esa no
323 esa no
324 esa no
325 esa no
326 esa no
327 esa no
328 esa no
328esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
329 esa no
330 esa no
330esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
331 esa no
331esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
332 esa no
332esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
333 esa no
334 esa no
335 esa no
336 esa no
336esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
337 esa no
337esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
338 esa no
339 esa no
340 esa no
340esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
341 esa no
341esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
342 esa no
342esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
343 esa no
344 esa no
344esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
345 esa no
345esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
346 esa no
347 esa no
347esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
348 esa no
348esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
349 esa no
349esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
350 esa no
350esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
351 esa no
351esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
352 esa no
352esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
353 esa no
353esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
354 esa no
354esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')
355 esa no
355esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['cobro_id', 'order_id', 'id', 'created_at', 'updated_at', 'amount',
       'coin_pedido', 'customer_id'],
      dtype='object')

In [18]:
 "{:.2f}".format((total_mn+total_dlls-(cobros_dlls['amount'].sum()+cobros_mn['amount'].sum()) )*100/pedidos.loc[pedidos['customer_id']==clientes['id'].values[i],'total'].sum())+"%"

'36.21%'

In [5]:
pedidos_dlls

Empty DataFrame
Columns: [id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, clave, alias, exchange_sell, coin, symbol, code]
Index: []

[0 rows x 41 columns]

In [14]:
(this_pedidos['total'].values[k]- this_cobros['amount'].sum())*100/this_pedidos['total'].values[k]

50.0

In [ ]:
base = pd.read_excel('Clientes.xls')

In [ ]:
base.columns

Index(['Clave', 'Estatus', 'Nombre', 'R.F.C.', 'Calle', 'Número interior',
       'Número exterior', 'Entre calle 1', 'Y calle', 'Colonia',
       'Código postal', 'Población', 'Municipio', 'Estado', 'País',
       'Nacionalidad', 'Referencia de la dirección', 'Teléfono',
       'Clasificación', 'Página web', 'C.U.R.P.', 'Clave de zona',
       'Enviar por correo electrónico', 'Mail predeterminado',
       'Día de revisión', 'Clave de vendedor', 'Tipo de empresa',
       'Régimen fiscal'],
      dtype='object')

In [ ]:
columnas

Index(['id', 'customer', 'customer_rfc', 'customer_state', 'customer_city',
       'customer_suburb', 'customer_street', 'customer_outdoor',
       'customer_indoor', 'customer_zip_code', 'customer_email',
       'customer_telephone', 'created_at', 'updated_at', 'legal_name', 'alias',
       'ncomp', 'clave', 'regimen_fiscal', 'pagina_web', 'curp',
       'nacionalidad'],
      dtype='object')

In [ ]:
base2=base[['Nombre', 'R.F.C.','Estado', 
       'Municipio', 'Colonia','Calle','Número exterior',  'Número interior',
       'Código postal','Mail predeterminado','Teléfono','Nombre','Nombre','Clave','Régimen fiscal',
        'Página web','C.U.R.P.','Nacionalidad']].fillna(0)
print(base2.columns)

Index(['Nombre', 'R.F.C.', 'Estado', 'Municipio', 'Colonia', 'Calle',
       'Número exterior', 'Número interior', 'Código postal',
       'Mail predeterminado', 'Teléfono', 'Nombre', 'Nombre', 'Clave',
       'Régimen fiscal', 'Página web', 'C.U.R.P.', 'Nacionalidad'],
      dtype='object')

In [ ]:
cols = "`,`".join([str(i) for i in columnas.tolist()])
print(cols)

id`,`customer`,`customer_rfc`,`customer_state`,`customer_city`,`customer_suburb`,`customer_street`,`customer_outdoor`,`customer_indoor`,`customer_zip_code`,`customer_email`,`customer_telephone`,`created_at`,`updated_at`,`legal_name`,`alias`,`ncomp

In [ ]:
116/1.16

100.0

In [ ]:
cursor=cnx.cursor(buffered=True)

In [ ]:
cursor.execute('select * from cobros')

In [ ]:
import pandas as pd

In [ ]:
cobros=pd.read_sql('select * from cobros',cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
cnx = mysql.connector.connect(user='root',
                              password='mynewpassword',
                              host='137.184.6.42',
                              port='3606',
                              database='tyrsaadmin',
                              use_pure=False)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '137.184.6.42:3606' (10060)

In [ ]:
cursor=cnx.cursor(buffered=True)

In [ ]:
cobros=cobros.fillna(0)
for i in range(0,len(cobros)):
    if(cobros['facture_id'].values[i]!=0):
        print(i)
        cursor.execute('insert into cobro_factures(cobro_id,facture_id) values('+str(cobros['id'].values[i])+','+str(cobros['facture_id'].values[i])+')')

0
1
2

In [ ]:
len(cobros)

4

In [ ]:
cnx.commit()

In [ ]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id = 1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
cobros=pd.read_sql("""select cobro_orders.*
                     from (((
                         cobro_orders 
    inner join cobros on cobros.id=cobro_orders.cobro_id)
    inner join internal_orders on internal_orders.id = cobros.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
facturas=pd.read_sql("""select * 
                     from ((
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
creditos=pd.read_sql("""select * 
                     from ((
                         credit_notes    inner join internal_orders on internal_orders.id = credit_notes.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
print(creditos)

Empty DataFrame
Columns: [id, customer_id, facture_id, amount, date, created_at, updated_at, status, credit_note, coin_id, order_id, id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, id, coin, symbol, code, exchange_rate, date_application, created_at, updated_at, exchange_buy, exchange_sell]
Index: []

[0 rows x 56 columns]

C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cobros=pd.read_sql("""select cobro_orders.*
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  facturas=pd.read_sql("""select *
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:52: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  creditos=pd.read_sql("""select *

In [ ]:
facturas.loc[facturas['order_id']==229]

Empty DataFrame
Columns: [id, order_id, ordinal, facture, amount, status, npagos, created_at, updated_at, date, coin_id, tc, id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, id, coin, symbol, code, exchange_rate, date_application, created_at, updated_at, exchange_buy, exchange_sell]
Index: []

[0 rows x 57 columns]

In [5]:
#Filtrando datos---------------------------------------
#Separar pedidos vigentes
    #Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()
pedidos=pedidos.loc[pedidos['total']-pedidos['saldo']>1]

C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clientes=pd.read_sql("select * from customers",cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cobros=pd.read_sql("""select cobros.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  facturas=pd.read_sql("""select factures.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  creditos=pd.read_sql("""select credit_notes.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id as customer_pedido
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:58: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tc=pd.read_sql('select * from coins where id=2 ',cnx)['exchange_sell'].values[0]

   id  customer_id facture_id     amount        date  created_at  updated_at  \
0   5          506       None  329200.00  2022-07-20  2023-05-02  2023-05-02
1   6          394       None   49794.16  2023-05-31  2023-06-02  2023-06-02
2   7          389       None  136870.00  2022-11-01  2023-06-07  2023-06-07
3   8          407       None  202636.54  2023-05-09  2023-06-07  2023-06-07
4   9          315       None  940070.84  2023-05-23  2023-06-12  2023-06-12
5  10          312       None  464058.00  2023-02-17  2023-06-13  2023-06-13
6  12          610       None  435598.56  2023-06-09  2023-06-23  2023-06-23
7  14          601       None  903060.00  2023-07-08  2023-07-12  2023-07-12

      status credit_note  order_id  coin_pedido  customer_pedido
0  CAPTURADA      NC 309       116            1              506
1  CAPTURADA      NC 357       206            1              394
2  CAPTURADA      NC 320       135            1              389
3  CAPTURADA      NC 352       136            1              407
4  CAPTURADA      NC 356       156            1              315
5  CAPTURADA      NC 340       143            1              312
6  CAPTURADA         358       199            1              610
7  CAPTURADA      NC 364       179            1              601
   id  customer_id facture_id     amount        date  created_at  updated_at  \
0   5          506       None  329200.00  2022-07-20  2023-05-02  2023-05-02
1   6          394       None   49794.16  2023-05-31  2023-06-02  2023-06-02
2   7          389       None  136870.00  2022-11-01  2023-06-07  2023-06-07
3   8          407       None  202636.54  2023-05-09  2023-06-07  2023-06-07
4   9          315       None  940070.84  2023-05-23  2023-06-12  2023-06-12
5  10          312       None  464058.00  2023-02-17  2023-06-13  2023-06-13
6  12          610       None  435598.56  2023-06-09  2023-06-23  2023-06-23
7  14          601       None  903060.00  2023-07-08  2023-07-12  2023-07-12

      status credit_note  order_id  coin_pedido  customer_pedido
0  CAPTURADA      NC 309       116            1              506
1  CAPTURADA      NC 357       206            1              394
2  CAPTURADA      NC 320       135            1              389
3  CAPTURADA      NC 352       136            1              407
4  CAPTURADA      NC 356       156            1              315
5  CAPTURADA      NC 340       143            1              312
6  CAPTURADA         358       199            1              610
7  CAPTURADA      NC 364       179            1              601
0 esa no
1 esa no
2 esa no
3 esa no
4 esa no
5 esa no
6 esa no
7 esa no
8 esa no
9 esa no
10 esa no
11 esa no
12 esa no
13 esa no
14 esa no
15 esa no
15esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
16 esa no
17 esa no
18 esa no
18esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
19 esa no
20 esa no
21 esa no
22 esa no
23 esa no
24 esa no
25 esa no
26 esa no
26esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
27 esa no
28 esa no
29 esa no
30 esa no
31 esa no
32 esa no
33 esa no
34 esa no
35 esa no
35esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
36 esa no
37 esa no
38 esa no
39 esa no
40 esa no
40esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
41 esa no
41esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
42 esa no
43 esa no
44 esa no
45 esa no
46 esa no
46esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
47 esa no
48 esa no
49 esa no
50 esa no
51 esa no
51esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
52 esa no
53 esa no
54 esa no
55 esa no
56 esa no
57 esa no
58 esa no
59 esa no
60 esa no
61 esa no
62 esa no
63 esa no
64 esa no
65 esa no
66 esa no
67 esa no
68 esa no
69 esa no
70 esa no
71 esa no
72 esa no
72esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
73 esa no
74 esa no
75 esa no
76 esa no
77 esa no
78 esa no
79 esa no
80 esa no
81 esa no
82 esa no
83 esa no
84 esa no
85 esa no
86 esa no
87 esa no
87esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
88 esa no
89 esa no
89esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
90 esa no
91 esa no
91esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
92 esa no
93 esa no
94 esa no
95 esa no
96 esa no
96esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
97 esa no
97esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
98 esa no
98esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
99 esa no
100 esa no
100esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
101 esa no
102 esa no
103 esa no
104 esa no
105 esa no
106 esa no
107 esa no
108 esa no
109 esa no
109esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
110 esa no
110esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
111 esa no
112 esa no
113 esa no
114 esa no
115 esa no
116 esa no
116esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
117 esa no
117esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
118 esa no
119 esa no
120 esa no
120esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
121 esa no
122 esa no
123 esa no
124 esa no
125 esa no
126 esa no
126esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
127 esa no
128 esa no
129 esa no
130 esa no
131 esa no
132 esa no
133 esa no
134 esa no
135 esa no
136 esa no
137 esa no
138 esa no
139 esa no
140 esa no
141 esa no
141esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
142 esa no
143 esa no
144 esa no
145 esa no
145esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
146 esa no
147 esa no
147esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
148 esa no
149 esa no
149esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
150 esa no
151 esa no
152 esa no
153 esa no
154 esa no
155 esa no
156 esa no
156esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
157 esa no
158 esa no
159 esa no
160 esa no
161 esa no
162 esa no
163 esa no
164 esa no
165 esa no
166 esa no
167 esa no
168 esa no
169 esa no
170 esa no
171 esa no
172 esa no
173 esa no
174 esa no
175 esa no
176 esa no
177 esa no
178 esa no
179 esa no
180 esa no
181 esa no
181esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
182 esa no
183 esa no
184 esa no
185 esa no
186 esa no
187 esa no
188 esa no
189 esa no
190 esa no
191 esa no
192 esa no
193 esa no
194 esa no
195 esa no
196 esa no
197 esa no
198 esa no
199 esa no
200 esa no
201 esa no
202 esa no
203 esa no
204 esa no
205 esa no
206 esa no
207 esa no
207esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
208 esa no
209 esa no
210 esa no
211 esa no
211esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
212 esa no
213 esa no
214 esa no
215 esa no
216 esa no
217 esa no
218 esa no
219 esa no
220 esa no
221 esa no
221esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
222 esa no
223 esa no
224 esa no
225 esa no
226 esa no
227 esa no
228 esa no
229 esa no
230 esa no
231 esa no
232 esa no
232esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
233 esa no
234 esa no
235 esa no
236 esa no
237 esa no
238 esa no
239 esa no
239esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
240 esa no
241 esa no
242 esa no
243 esa no
244 esa no
245 esa no
246 esa no
247 esa no
248 esa no
248esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
249 esa no
250 esa no
251 esa no
252 esa no
253 esa no
254 esa no
255 esa no
256 esa no
257 esa no
258 esa no
258esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
259 esa no
260 esa no
260esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
261 esa no
262 esa no
263 esa no
264 esa no
265 esa no
266 esa no
267 esa no
268 esa no
269 esa no
269esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
270 esa no
271 esa no
272 esa no
273 esa no
274 esa no
274esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
275 esa no
276 esa no
277 esa no
278 esa no
279 esa no
280 esa no
280esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
281 esa no
282 esa no
282esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
283 esa no
284 esa no
285 esa no
286 esa no
287 esa no
288 esa no
289 esa no
289esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
290 esa no
290esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
291 esa no
291esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
292 esa no
292esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
293 esa no
293esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
294 esa no
294esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
295 esa no
295esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
296 esa no
296esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
297 esa no
297esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
298 esa no
298esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
299 esa no
299esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
300 esa no
300esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
301 esa no
301esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
302 esa no
302esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
303 esa no
303esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',

In [12]:
(pedidos['total']-pedidos['subtotal']*(1-pedidos['descuento'])*0.16).sum()

104747983.72

In [6]:
pedidos.loc[pedidos['invoice']=='2887']

,id,invoice,date,customer_id,seller_id,date_delivery,instalation_date,shipment,customer_shipping_address_id,coin_id,...,ret,tasa,description,category,clave,alias,exchange_sell,coin,symbol,code
24,147,2887,2023-04-25,414,3,2022-08-30,2022-08-30,Sí,53,1,...,0.0,0.0,Servicio directo SD,Servicios,8,FEDEX,1.0,NACIONAL,$,MN

In [13]:
cobros.loc[cobros['order_id']==147,'amount'].sum()/1.16

217000.00000000003

In [26]:
p=pedidos.loc[pedidos['coin']=='NACIONAL']

In [28]:
#TODO: calculado desde el dataframe cuanto dan los subtotales mn nacional?
p['total'].sum()

129170937.4448

In [12]:
111432232.78-111853526.41793102

-421293.63793101907

In [ ]:
sudo chown -R www-data: report
sudo chmod -R 755 report

In [ ]:
#Sin iva cuanto da?

In [24]:
len(p)

3

In [49]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id =1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol,coins.code
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
clientes=pd.read_sql("select * from customers",cnx)
cobros=pd.read_sql("""select cobros.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         cobros
    inner join internal_orders on internal_orders.id = cobros.order_id )""",cnx)
facturas=pd.read_sql("""select factures.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )""",cnx)
creditos=pd.read_sql("""select credit_notes.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id as customer_pedido 
                     from (
                         credit_notes
    inner join internal_orders on internal_orders.id = credit_notes.order_id ) """,cnx)

nordenes=len(pedidos)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [50]:
#Separar pedidos vigentes
    #Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()

In [19]:
# ej, el primer pedido
pedidos[['invoice','total','saldo']]

    invoice         total        saldo
0      2175  3.561200e+05    356120.00
1      2749  3.190000e+03      3190.00
2      2750  5.308694e+07  49725362.80
3      2751  5.800000e+03         0.00
4      2752  8.288003e+04     82880.03
..      ...           ...          ...
189    3104  3.157868e+06         0.00
190    3105  8.827600e+04         0.00
191    3106  1.118471e+06         0.00
192    3107  2.298192e+05    114909.60
193    3108  1.127520e+06         0.00

[194 rows x 3 columns]

In [20]:
pedidos['total']-pedidos['saldo']

0            0.000
1            0.000
2      3361573.200
3         5800.000
4           -0.002
          ...
189    3157868.000
190      88276.000
191    1118470.840
192     114909.600
193    1127520.000
Length: 194, dtype: float64

In [23]:
len(pedidos)

194

In [51]:
pedidos=pedidos.loc[pedidos['total']-pedidos['saldo']<=100]

In [52]:
len(pedidos)

134

In [27]:
pedidos=pedidos.assign(pendiente=pedidos['total']-pedidos['saldo'])

In [32]:
pedidos['pendiente'].unique()

array([ 0.00000000e+00, -1.99999999e-03,  1.20000006e-03, -1.50000000e-01,
       -2.14959600e+04, -8.00000000e-02, -1.00000000e-02,  1.80000000e-01,
        2.79999999e-03, -1.99999986e-03, -7.00000001e-02,  8.00000000e-02,
       -4.80000000e-01,  2.00000000e-03,  4.80000000e-03,  3.19999992e-03,
       -2.80000000e-03,  5.82076609e-11,  2.32830644e-10, -4.80000001e-03,
       -9.99999998e-03, -2.91038305e-11,  2.91038305e-11,  4.80000002e-03,
       -4.99999999e-02,  9.00000000e+01])

In [43]:
pedidos.loc[pedidos['pendiente']>1,['invoice','customer_id','code','total','saldo','pendiente']]

    invoice  customer_id code    total    saldo  pendiente
157    3072          645   MN  83056.0  82966.0       90.0

In [39]:
clientes[clientes['id']==645]

,id,customer,customer_rfc,customer_state,customer_city,customer_suburb,customer_street,customer_outdoor,customer_indoor,customer_zip_code,...,created_at,updated_at,legal_name,alias,ncomp,clave,regimen_fiscal,pagina_web,curp,nacionalidad
341,645,COMERCIALIZADORA JAVA 2011,CJD110214H29,MEXICO,CDMX,LOMAS DE PADIERNA SUR,PROLONGACION TULUM,MZ 49,LT 23,14740,...,2023-08-18 08:12:41,2023-08-18 08:12:41,S.A. DE C.V.,JAVA 2011,None,350,None,None,None,None

In [44]:
len(cobros)

380

In [45]:
cobros=cobros.loc[cobros['order_id'].isin(pedidos['id'].unique())]

In [21]:
clientes

,id,customer,customer_rfc,customer_state,customer_city,customer_suburb,customer_street,customer_outdoor,customer_indoor,customer_zip_code,...,created_at,updated_at,legal_name,alias,ncomp,clave,regimen_fiscal,pagina_web,curp,nacionalidad
0,297,GALLETAS DE CALIDAD S.A.de C.V.,GCA690815R94,CIUDAD DE MEXICO,AZCAPOTZALCO,COLTONGO,PONIENTE 122,489,0,2630.,...,NaT,NaT,POR ASIGNAR,GALLETAS DE CALIDAD S.A.de C.V.,None,179,0.0,http://www.marian.com.mx/web/,0,MEXICANA
1,298,CASA DIAZ MAQUINAS DE COCER S.A. DE C.V.,CDM760124C85,CD DE MEXICO,CUCUTHEMOC,OBRERA,FRAY SERVANDO TERESA DE MIER,29,0,6800.,...,NaT,NaT,POR ASIGNAR,CASA DIAZ MAQUINAS DE COCER S.A. DE C.V.,None,191,0.0,CASADIAZ..COM.MX,0,MEXICANA
2,299,LO,0,0,0,0,0,0,0,0.0,...,NaT,NaT,POR ASIGNAR,LO,None,160,0.0,0,0,0
3,300,FINANMADRID MEXICO,FME050125MS0,CIUDAD DE MEXICO,MIGUEL HIDALGO,LOMAS DE CHAPULTEPEC 1 SECCION,BLVD MANUEL AVILA CAMACHO,P 4 Y 5,0,11000,...,NaT,NaT,POR ASIGNAR,FINANMADRID MEXICO,None,161,0.0,0,0,0
4,301,COMERCIALIZADORA KELLY S.A. DE C.V.,CKE051019KG1,MEXICO,NAUCALPAN DE JUAREZ,LOMAS DE TECAMACHALCO SECCION FUENTES,FUENTES DE PIRAMIDES,1,604,53950,...,NaT,NaT,POR ASIGNAR,COMERCIALIZADORA KELLY S.A. DE C.V.,None,119,0.0,0,0,MEXICANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,655,MAS BODEGA Y LOGISTICA,CCA030408D46,NUEVO LEON,NUEVO LEON,PARQUE INDUSTRIAL KALOS,CARR CUOTA MONTERREY REYNOSA,9650,a,67110,...,2023-10-05 10:32:08,2023-10-05 10:32:08,S.A. DE C.V.,MAS BODEGA Y LOGISTICA,None,359,None,None,None,None
352,656,PASE LOGISTICA,PLO220308375,MEXICO,CDMX,INDUSTRIAL VALLEJO,PONIENTE 146,603,None,02300,...,2023-10-10 04:38:52,2023-10-10 04:38:52,S.A. DE C.V.,PASE,None,360,None,None,None,None
353,657,EXCEL NOBLEZA,ENO940203NY2,PUEBLA,PUEBLA,TEPANCO DE LOPEZ,CARR FEDERAL PUEBLA-TEHUACAN,101,None,75800,...,2023-10-20 11:06:38,2023-10-20 11:06:38,S DE R.L DE C.V.,EXCEL NOBLEZA,None,361,None,None,None,None
354,658,CROWN GAMING MEXICO,CGM100309IL8,MEXICO,CDMX,POLANCO,MONTE ELBRUZ,132,804,11530,...,2023-10-24 05:34:53,2023-10-24 05:34:53,FISICA CAEYP,CROWN GAMING MEXICO,None,364,None,None,None,None
355,659,BEE BAGS,BBA160219M45,MEXICO,CDMX,SAN DIEGO CHURUBUSCO,CALZADA DE TLALPAN,1687,None,04120,...,2023-10-24 06:36:52,2023-10-24 06:36:52,S.A. DE C.V.,BEE BAGS,None,363,None,None,None,None

In [54]:
cobros=cobros.merge(pedidos[['id','code']].rename(columns={'id':'order_id'}),how='inner',on='order_id')

In [55]:
len(cobros)

293

In [62]:
cobros.loc[cobros['code']=='MN','amount'].sum()+tc*cobros.loc[cobros['code']!='MN','amount'].sum()

NameError: name 'tc' is not defined

In [59]:
cobros.loc[cobros['code']!='MN','amount'].sum()

579153.2000000001

In [60]:
cobros['amount'].sum()

59133503.160000004