In [18]:
 "{:.2f}".format((total_mn+total_dlls-(cobros_dlls['amount'].sum()+cobros_mn['amount'].sum()) )*100/pedidos.loc[pedidos['customer_id']==clientes['id'].values[i],'total'].sum())+"%"

'36.21%'

In [5]:
pedidos_dlls

Empty DataFrame
Columns: [id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, clave, alias, exchange_sell, coin, symbol, code]
Index: []

[0 rows x 41 columns]

In [14]:
(this_pedidos['total'].values[k]- this_cobros['amount'].sum())*100/this_pedidos['total'].values[k]

50.0

In [ ]:
base = pd.read_excel('Clientes.xls')

In [ ]:
base.columns

Index(['Clave', 'Estatus', 'Nombre', 'R.F.C.', 'Calle', 'Número interior',
       'Número exterior', 'Entre calle 1', 'Y calle', 'Colonia',
       'Código postal', 'Población', 'Municipio', 'Estado', 'País',
       'Nacionalidad', 'Referencia de la dirección', 'Teléfono',
       'Clasificación', 'Página web', 'C.U.R.P.', 'Clave de zona',
       'Enviar por correo electrónico', 'Mail predeterminado',
       'Día de revisión', 'Clave de vendedor', 'Tipo de empresa',
       'Régimen fiscal'],
      dtype='object')

In [ ]:
columnas

Index(['id', 'customer', 'customer_rfc', 'customer_state', 'customer_city',
       'customer_suburb', 'customer_street', 'customer_outdoor',
       'customer_indoor', 'customer_zip_code', 'customer_email',
       'customer_telephone', 'created_at', 'updated_at', 'legal_name', 'alias',
       'ncomp', 'clave', 'regimen_fiscal', 'pagina_web', 'curp',
       'nacionalidad'],
      dtype='object')

In [ ]:
base2=base[['Nombre', 'R.F.C.','Estado', 
       'Municipio', 'Colonia','Calle','Número exterior',  'Número interior',
       'Código postal','Mail predeterminado','Teléfono','Nombre','Nombre','Clave','Régimen fiscal',
        'Página web','C.U.R.P.','Nacionalidad']].fillna(0)
print(base2.columns)

Index(['Nombre', 'R.F.C.', 'Estado', 'Municipio', 'Colonia', 'Calle',
       'Número exterior', 'Número interior', 'Código postal',
       'Mail predeterminado', 'Teléfono', 'Nombre', 'Nombre', 'Clave',
       'Régimen fiscal', 'Página web', 'C.U.R.P.', 'Nacionalidad'],
      dtype='object')

In [ ]:
cols = "`,`".join([str(i) for i in columnas.tolist()])
print(cols)

id`,`customer`,`customer_rfc`,`customer_state`,`customer_city`,`customer_suburb`,`customer_street`,`customer_outdoor`,`customer_indoor`,`customer_zip_code`,`customer_email`,`customer_telephone`,`created_at`,`updated_at`,`legal_name`,`alias`,`ncomp

In [ ]:
116/1.16

100.0

In [ ]:
cursor=cnx.cursor(buffered=True)

In [ ]:
cursor.execute('select * from cobros')

In [ ]:
import pandas as pd

In [ ]:
cobros=pd.read_sql('select * from cobros',cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [1]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)

In [3]:
#migrar tipos de cambio
data=pd.read_csv('Datos históricos USD_MXN.csv')

In [10]:
data['Fecha'].as_datetime = pd.to_datetime(data['Fecha'], format='%d.%m.%Y')

In [14]:
data['Fecha']

0      2025-08-11
1      2025-08-10
2      2025-08-08
3      2025-08-07
4      2025-08-06
          ...
1454   2020-01-16
1455   2020-01-15
1456   2020-01-14
1457   2020-01-13
1458   2020-01-10
Name: Fecha, Length: 1459, dtype: datetime64[ns]

In [4]:
data.columns

Index(['Fecha', 'Cierre', 'Apertura', 'Máximo', 'Mínimo', 'Vol.', '% var.'], dtype='object')

In [19]:
for i in range(len(data)):
    query=f"""insert into historic_exchanges(date,cierre,apertura,max,min) 
    values('{data['Fecha'].values[i]}',{data['Cierre'].values[i]},{data['Apertura'].values[i]},
    {data['Máximo'].values[i]},{data['Mínimo'].values[i]})""" 
    cursor.execute(query)

In [20]:
cnx.commit()

In [2]:
cursor=cnx.cursor(buffered=True)

In [24]:
for table in ['internal_orders','cobros','credit_notes','factures']:
    print(f"""
UPDATE `{table}` SET `tc` = 18.9200 WHERE date >='2025-08-06';""")

UPDATE `internal_orders` SET `tc` = 18.9200 WHERE date >='2025-08-06';

UPDATE `cobros` SET `tc` = 18.9200 WHERE date >='2025-08-06';

UPDATE `credit_notes` SET `tc` = 18.9200 WHERE date >='2025-08-06';

UPDATE `factures` SET `tc` = 18.9200 WHERE date >='2025-08-06';

In [8]:
productos=['Rack Selectivo',
'Estanteria',
'Pasarela',
'Drive In Drive Thru',
'Rack Push Back',
'Rack Dinamico',
'Carton Flow',
'Mini Rack',
'Cantilever',
'Mezanines',
'Convertidores',
'Transportadores',
'Conveyors',
'Minidocks',
'Rampas Mecanicas',
'Rampas Hidraulicas',
'Patines',
'Patines Electricos',
'Apiladores Manuales',
'Apiladores Semi - Electricos',
'Apiladores Electricos',
'Montacargas',
'Puertas',
'Cortinas',
'Gancho Retenedor',
'Sellos',
'Servicios',
'Otros',]

In [9]:
cursor=cnx.cursor(buffered=True)

In [11]:
for i in productos:
    query="insert into report_products(name) values('"+i+"')"
    cursor.execute(query)

In [ ]:
cobros=cobros.fillna(0)
for i in range(0,len(cobros)):
    if(cobros['facture_id'].values[i]!=0):
        print(i)
        cursor.execute('insert into cobro_factures(cobro_id,facture_id) values('+str(cobros['id'].values[i])+','+str(cobros['facture_id'].values[i])+')')

0
1
2

In [ ]:
len(cobros)

4

In [12]:
cnx.commit()

In [ ]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id = 1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
cobros=pd.read_sql("""select cobro_orders.*
                     from (((
                         cobro_orders 
    inner join cobros on cobros.id=cobro_orders.cobro_id)
    inner join internal_orders on internal_orders.id = cobros.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
facturas=pd.read_sql("""select * 
                     from ((
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
creditos=pd.read_sql("""select * 
                     from ((
                         credit_notes    inner join internal_orders on internal_orders.id = credit_notes.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
print(creditos)

Empty DataFrame
Columns: [id, customer_id, facture_id, amount, date, created_at, updated_at, status, credit_note, coin_id, order_id, id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, id, coin, symbol, code, exchange_rate, date_application, created_at, updated_at, exchange_buy, exchange_sell]
Index: []

[0 rows x 56 columns]

C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cobros=pd.read_sql("""select cobro_orders.*
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  facturas=pd.read_sql("""select *
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:52: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  creditos=pd.read_sql("""select *

In [ ]:
facturas.loc[facturas['order_id']==229]

Empty DataFrame
Columns: [id, order_id, ordinal, facture, amount, status, npagos, created_at, updated_at, date, coin_id, tc, id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, id, coin, symbol, code, exchange_rate, date_application, created_at, updated_at, exchange_buy, exchange_sell]
Index: []

[0 rows x 57 columns]

In [13]:
500/12

41.666666666666664

In [5]:
#Filtrando datos---------------------------------------
#Separar pedidos vigentes
    #Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()
pedidos=pedidos.loc[pedidos['total']-pedidos['saldo']>1]

C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clientes=pd.read_sql("select * from customers",cnx)
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cobros=pd.read_sql("""select cobros.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  facturas=pd.read_sql("""select factures.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  creditos=pd.read_sql("""select credit_notes.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id as customer_pedido
C:\Users\hp\AppData\Local\Temp\ipykernel_20236\3652135030.py:58: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tc=pd.read_sql('select * from coins where id=2 ',cnx)['exchange_sell'].values[0]

   id  customer_id facture_id     amount        date  created_at  updated_at  \
0   5          506       None  329200.00  2022-07-20  2023-05-02  2023-05-02
1   6          394       None   49794.16  2023-05-31  2023-06-02  2023-06-02
2   7          389       None  136870.00  2022-11-01  2023-06-07  2023-06-07
3   8          407       None  202636.54  2023-05-09  2023-06-07  2023-06-07
4   9          315       None  940070.84  2023-05-23  2023-06-12  2023-06-12
5  10          312       None  464058.00  2023-02-17  2023-06-13  2023-06-13
6  12          610       None  435598.56  2023-06-09  2023-06-23  2023-06-23
7  14          601       None  903060.00  2023-07-08  2023-07-12  2023-07-12

      status credit_note  order_id  coin_pedido  customer_pedido
0  CAPTURADA      NC 309       116            1              506
1  CAPTURADA      NC 357       206            1              394
2  CAPTURADA      NC 320       135            1              389
3  CAPTURADA      NC 352       136            1              407
4  CAPTURADA      NC 356       156            1              315
5  CAPTURADA      NC 340       143            1              312
6  CAPTURADA         358       199            1              610
7  CAPTURADA      NC 364       179            1              601
   id  customer_id facture_id     amount        date  created_at  updated_at  \
0   5          506       None  329200.00  2022-07-20  2023-05-02  2023-05-02
1   6          394       None   49794.16  2023-05-31  2023-06-02  2023-06-02
2   7          389       None  136870.00  2022-11-01  2023-06-07  2023-06-07
3   8          407       None  202636.54  2023-05-09  2023-06-07  2023-06-07
4   9          315       None  940070.84  2023-05-23  2023-06-12  2023-06-12
5  10          312       None  464058.00  2023-02-17  2023-06-13  2023-06-13
6  12          610       None  435598.56  2023-06-09  2023-06-23  2023-06-23
7  14          601       None  903060.00  2023-07-08  2023-07-12  2023-07-12

      status credit_note  order_id  coin_pedido  customer_pedido
0  CAPTURADA      NC 309       116            1              506
1  CAPTURADA      NC 357       206            1              394
2  CAPTURADA      NC 320       135            1              389
3  CAPTURADA      NC 352       136            1              407
4  CAPTURADA      NC 356       156            1              315
5  CAPTURADA      NC 340       143            1              312
6  CAPTURADA         358       199            1              610
7  CAPTURADA      NC 364       179            1              601
0 esa no
1 esa no
2 esa no
3 esa no
4 esa no
5 esa no
6 esa no
7 esa no
8 esa no
9 esa no
10 esa no
11 esa no
12 esa no
13 esa no
14 esa no
15 esa no
15esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
16 esa no
17 esa no
18 esa no
18esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
19 esa no
20 esa no
21 esa no
22 esa no
23 esa no
24 esa no
25 esa no
26 esa no
26esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
27 esa no
28 esa no
29 esa no
30 esa no
31 esa no
32 esa no
33 esa no
34 esa no
35 esa no
35esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
36 esa no
37 esa no
38 esa no
39 esa no
40 esa no
40esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
41 esa no
41esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
42 esa no
43 esa no
44 esa no
45 esa no
46 esa no
46esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
47 esa no
48 esa no
49 esa no
50 esa no
51 esa no
51esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
52 esa no
53 esa no
54 esa no
55 esa no
56 esa no
57 esa no
58 esa no
59 esa no
60 esa no
61 esa no
62 esa no
63 esa no
64 esa no
65 esa no
66 esa no
67 esa no
68 esa no
69 esa no
70 esa no
71 esa no
72 esa no
72esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
73 esa no
74 esa no
75 esa no
76 esa no
77 esa no
78 esa no
79 esa no
80 esa no
81 esa no
82 esa no
83 esa no
84 esa no
85 esa no
86 esa no
87 esa no
87esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
88 esa no
89 esa no
89esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
90 esa no
91 esa no
91esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
92 esa no
93 esa no
94 esa no
95 esa no
96 esa no
96esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
97 esa no
97esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
98 esa no
98esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
99 esa no
100 esa no
100esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
101 esa no
102 esa no
103 esa no
104 esa no
105 esa no
106 esa no
107 esa no
108 esa no
109 esa no
109esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
110 esa no
110esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
111 esa no
112 esa no
113 esa no
114 esa no
115 esa no
116 esa no
116esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
117 esa no
117esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
118 esa no
119 esa no
120 esa no
120esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
121 esa no
122 esa no
123 esa no
124 esa no
125 esa no
126 esa no
126esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
127 esa no
128 esa no
129 esa no
130 esa no
131 esa no
132 esa no
133 esa no
134 esa no
135 esa no
136 esa no
137 esa no
138 esa no
139 esa no
140 esa no
141 esa no
141esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
142 esa no
143 esa no
144 esa no
145 esa no
145esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
146 esa no
147 esa no
147esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
148 esa no
149 esa no
149esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
150 esa no
151 esa no
152 esa no
153 esa no
154 esa no
155 esa no
156 esa no
156esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
157 esa no
158 esa no
159 esa no
160 esa no
161 esa no
162 esa no
163 esa no
164 esa no
165 esa no
166 esa no
167 esa no
168 esa no
169 esa no
170 esa no
171 esa no
172 esa no
173 esa no
174 esa no
175 esa no
176 esa no
177 esa no
178 esa no
179 esa no
180 esa no
181 esa no
181esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
182 esa no
183 esa no
184 esa no
185 esa no
186 esa no
187 esa no
188 esa no
189 esa no
190 esa no
191 esa no
192 esa no
193 esa no
194 esa no
195 esa no
196 esa no
197 esa no
198 esa no
199 esa no
200 esa no
201 esa no
202 esa no
203 esa no
204 esa no
205 esa no
206 esa no
207 esa no
207esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
208 esa no
209 esa no
210 esa no
211 esa no
211esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
212 esa no
213 esa no
214 esa no
215 esa no
216 esa no
217 esa no
218 esa no
219 esa no
220 esa no
221 esa no
221esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
222 esa no
223 esa no
224 esa no
225 esa no
226 esa no
227 esa no
228 esa no
229 esa no
230 esa no
231 esa no
232 esa no
232esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
233 esa no
234 esa no
235 esa no
236 esa no
237 esa no
238 esa no
239 esa no
239esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
240 esa no
241 esa no
242 esa no
243 esa no
244 esa no
245 esa no
246 esa no
247 esa no
248 esa no
248esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
249 esa no
250 esa no
251 esa no
252 esa no
253 esa no
254 esa no
255 esa no
256 esa no
257 esa no
258 esa no
258esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
259 esa no
260 esa no
260esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
261 esa no
262 esa no
263 esa no
264 esa no
265 esa no
266 esa no
267 esa no
268 esa no
269 esa no
269esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
270 esa no
271 esa no
272 esa no
273 esa no
274 esa no
274esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
275 esa no
276 esa no
277 esa no
278 esa no
279 esa no
280 esa no
280esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
281 esa no
282 esa no
282esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
283 esa no
284 esa no
285 esa no
286 esa no
287 esa no
288 esa no
289 esa no
289esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
290 esa no
290esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
291 esa no
291esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
292 esa no
292esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
293 esa no
293esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
294 esa no
294esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
295 esa no
295esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
296 esa no
296esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
297 esa no
297esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
298 esa no
298esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
299 esa no
299esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
300 esa no
300esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
301 esa no
301esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
302 esa no
302esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',
       'comp', 'date', 'created_at', 'updated_at', 'capturo', 'reviso',
       'autorizo', 'coin_pedido', 'customer_id'],
      dtype='object')
303 esa no
303esta si
!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Index(['id', 'order_id', 'bank_id', 'coin_id', 'facture_id', 'tc', 'amount',

In [12]:
(pedidos['total']-pedidos['subtotal']*(1-pedidos['descuento'])*0.16).sum()

104747983.72

In [6]:
pedidos.loc[pedidos['invoice']=='2887']

,id,invoice,date,customer_id,seller_id,date_delivery,instalation_date,shipment,customer_shipping_address_id,coin_id,...,ret,tasa,description,category,clave,alias,exchange_sell,coin,symbol,code
24,147,2887,2023-04-25,414,3,2022-08-30,2022-08-30,Sí,53,1,...,0.0,0.0,Servicio directo SD,Servicios,8,FEDEX,1.0,NACIONAL,$,MN

In [13]:
cobros.loc[cobros['order_id']==147,'amount'].sum()/1.16

217000.00000000003

In [26]:
p=pedidos.loc[pedidos['coin']=='NACIONAL']

In [28]:
#TODO: calculado desde el dataframe cuanto dan los subtotales mn nacional?
p['total'].sum()

129170937.4448

In [12]:
111432232.78-111853526.41793102

-421293.63793101907

In [ ]:
sudo chown -R www-data: report
sudo chmod -R 755 report

In [ ]:
#Sin iva cuanto da?

In [24]:
len(p)

3

In [49]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id =1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol,coins.code
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
clientes=pd.read_sql("select * from customers",cnx)
cobros=pd.read_sql("""select cobros.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         cobros
    inner join internal_orders on internal_orders.id = cobros.order_id )""",cnx)
facturas=pd.read_sql("""select factures.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )""",cnx)
creditos=pd.read_sql("""select credit_notes.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id as customer_pedido 
                     from (
                         credit_notes
    inner join internal_orders on internal_orders.id = credit_notes.order_id ) """,cnx)

nordenes=len(pedidos)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [50]:
#Separar pedidos vigentes
    #Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()

In [19]:
# ej, el primer pedido
pedidos[['invoice','total','saldo']]

    invoice         total        saldo
0      2175  3.561200e+05    356120.00
1      2749  3.190000e+03      3190.00
2      2750  5.308694e+07  49725362.80
3      2751  5.800000e+03         0.00
4      2752  8.288003e+04     82880.03
..      ...           ...          ...
189    3104  3.157868e+06         0.00
190    3105  8.827600e+04         0.00
191    3106  1.118471e+06         0.00
192    3107  2.298192e+05    114909.60
193    3108  1.127520e+06         0.00

[194 rows x 3 columns]

In [20]:
pedidos['total']-pedidos['saldo']

0            0.000
1            0.000
2      3361573.200
3         5800.000
4           -0.002
          ...
189    3157868.000
190      88276.000
191    1118470.840
192     114909.600
193    1127520.000
Length: 194, dtype: float64

In [23]:
len(pedidos)

194

In [51]:
pedidos=pedidos.loc[pedidos['total']-pedidos['saldo']<=100]

In [52]:
len(pedidos)

134

In [27]:
pedidos=pedidos.assign(pendiente=pedidos['total']-pedidos['saldo'])

In [32]:
pedidos['pendiente'].unique()

array([ 0.00000000e+00, -1.99999999e-03,  1.20000006e-03, -1.50000000e-01,
       -2.14959600e+04, -8.00000000e-02, -1.00000000e-02,  1.80000000e-01,
        2.79999999e-03, -1.99999986e-03, -7.00000001e-02,  8.00000000e-02,
       -4.80000000e-01,  2.00000000e-03,  4.80000000e-03,  3.19999992e-03,
       -2.80000000e-03,  5.82076609e-11,  2.32830644e-10, -4.80000001e-03,
       -9.99999998e-03, -2.91038305e-11,  2.91038305e-11,  4.80000002e-03,
       -4.99999999e-02,  9.00000000e+01])

In [43]:
pedidos.loc[pedidos['pendiente']>1,['invoice','customer_id','code','total','saldo','pendiente']]

    invoice  customer_id code    total    saldo  pendiente
157    3072          645   MN  83056.0  82966.0       90.0

In [39]:
clientes[clientes['id']==645]

,id,customer,customer_rfc,customer_state,customer_city,customer_suburb,customer_street,customer_outdoor,customer_indoor,customer_zip_code,...,created_at,updated_at,legal_name,alias,ncomp,clave,regimen_fiscal,pagina_web,curp,nacionalidad
341,645,COMERCIALIZADORA JAVA 2011,CJD110214H29,MEXICO,CDMX,LOMAS DE PADIERNA SUR,PROLONGACION TULUM,MZ 49,LT 23,14740,...,2023-08-18 08:12:41,2023-08-18 08:12:41,S.A. DE C.V.,JAVA 2011,None,350,None,None,None,None

In [44]:
len(cobros)

380

In [45]:
cobros=cobros.loc[cobros['order_id'].isin(pedidos['id'].unique())]

In [21]:
clientes

,id,customer,customer_rfc,customer_state,customer_city,customer_suburb,customer_street,customer_outdoor,customer_indoor,customer_zip_code,...,created_at,updated_at,legal_name,alias,ncomp,clave,regimen_fiscal,pagina_web,curp,nacionalidad
0,297,GALLETAS DE CALIDAD S.A.de C.V.,GCA690815R94,CIUDAD DE MEXICO,AZCAPOTZALCO,COLTONGO,PONIENTE 122,489,0,2630.,...,NaT,NaT,POR ASIGNAR,GALLETAS DE CALIDAD S.A.de C.V.,None,179,0.0,http://www.marian.com.mx/web/,0,MEXICANA
1,298,CASA DIAZ MAQUINAS DE COCER S.A. DE C.V.,CDM760124C85,CD DE MEXICO,CUCUTHEMOC,OBRERA,FRAY SERVANDO TERESA DE MIER,29,0,6800.,...,NaT,NaT,POR ASIGNAR,CASA DIAZ MAQUINAS DE COCER S.A. DE C.V.,None,191,0.0,CASADIAZ..COM.MX,0,MEXICANA
2,299,LO,0,0,0,0,0,0,0,0.0,...,NaT,NaT,POR ASIGNAR,LO,None,160,0.0,0,0,0
3,300,FINANMADRID MEXICO,FME050125MS0,CIUDAD DE MEXICO,MIGUEL HIDALGO,LOMAS DE CHAPULTEPEC 1 SECCION,BLVD MANUEL AVILA CAMACHO,P 4 Y 5,0,11000,...,NaT,NaT,POR ASIGNAR,FINANMADRID MEXICO,None,161,0.0,0,0,0
4,301,COMERCIALIZADORA KELLY S.A. DE C.V.,CKE051019KG1,MEXICO,NAUCALPAN DE JUAREZ,LOMAS DE TECAMACHALCO SECCION FUENTES,FUENTES DE PIRAMIDES,1,604,53950,...,NaT,NaT,POR ASIGNAR,COMERCIALIZADORA KELLY S.A. DE C.V.,None,119,0.0,0,0,MEXICANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,655,MAS BODEGA Y LOGISTICA,CCA030408D46,NUEVO LEON,NUEVO LEON,PARQUE INDUSTRIAL KALOS,CARR CUOTA MONTERREY REYNOSA,9650,a,67110,...,2023-10-05 10:32:08,2023-10-05 10:32:08,S.A. DE C.V.,MAS BODEGA Y LOGISTICA,None,359,None,None,None,None
352,656,PASE LOGISTICA,PLO220308375,MEXICO,CDMX,INDUSTRIAL VALLEJO,PONIENTE 146,603,None,02300,...,2023-10-10 04:38:52,2023-10-10 04:38:52,S.A. DE C.V.,PASE,None,360,None,None,None,None
353,657,EXCEL NOBLEZA,ENO940203NY2,PUEBLA,PUEBLA,TEPANCO DE LOPEZ,CARR FEDERAL PUEBLA-TEHUACAN,101,None,75800,...,2023-10-20 11:06:38,2023-10-20 11:06:38,S DE R.L DE C.V.,EXCEL NOBLEZA,None,361,None,None,None,None
354,658,CROWN GAMING MEXICO,CGM100309IL8,MEXICO,CDMX,POLANCO,MONTE ELBRUZ,132,804,11530,...,2023-10-24 05:34:53,2023-10-24 05:34:53,FISICA CAEYP,CROWN GAMING MEXICO,None,364,None,None,None,None
355,659,BEE BAGS,BBA160219M45,MEXICO,CDMX,SAN DIEGO CHURUBUSCO,CALZADA DE TLALPAN,1687,None,04120,...,2023-10-24 06:36:52,2023-10-24 06:36:52,S.A. DE C.V.,BEE BAGS,None,363,None,None,None,None

In [54]:
cobros=cobros.merge(pedidos[['id','code']].rename(columns={'id':'order_id'}),how='inner',on='order_id')

In [3]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=0
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)

In [4]:

#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol, coins.code
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
cobros=pd.read_sql("""select cobro_orders.*
                     from (((
                         cobro_orders 
    inner join cobros on cobros.id=cobro_orders.cobro_id)
    inner join internal_orders on internal_orders.id = cobros.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
facturas=pd.read_sql("""select * 
                     from ((
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
creditos=pd.read_sql("""select * 
                     from ((
                         credit_notes    inner join internal_orders on internal_orders.id = credit_notes.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)

C:\Users\hp\AppData\Local\Temp\ipykernel_6360\1704707114.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,

C:\Users\hp\AppData\Local\Temp\ipykernel_6360\1704707114.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cobros=pd.read_sql("""select cobro_orders.*
C:\Users\hp\AppData\Local\Temp\ipykernel_6360\1704707114.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  facturas=pd.read_sql("""select *
C:\Users\hp\AppData\Local\Temp\ipykernel_6360\1704707114.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  creditos=pd.read_sql("""select *

In [5]:

#Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()
    if(cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()<=1):
        print('here')

pedidosv=pedidos.loc[pedidos['total']-pedidos['saldo']>1]

here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here

In [18]:
pedidosv['total'].sum()/1.16

87471524.31000002

In [16]:
pedidos['saldo'].sum()/1.16-pedidosv['saldo'].sum()/1.16

69671666.55172414

In [17]:
pedidos

array([3.56120000e+05, 3.19000000e+03, 4.97253628e+07, 0.00000000e+00,
       8.28800300e+04, 1.96063200e+05, 6.61124600e+04, 3.55500000e+05,
       6.43057600e+04, 7.58222400e+04, 5.69826800e+05, 2.04485765e+06,
       6.59078700e+04, 8.90079600e+04, 1.61042800e+05, 2.53296440e+05,
       1.73427308e+06, 6.15960000e+05, 7.95600000e+05, 5.34778560e+06,
       5.15620010e+05, 9.21967820e+05, 4.47892720e+05, 3.82110960e+05,
       2.20800000e+05, 3.45847481e+06, 1.07479790e+05, 2.29680000e+05,
       2.45920000e+05, 5.32620200e+05, 2.25472680e+06, 1.04452316e+06,
       3.14360000e+04, 4.79080000e+04, 8.50036400e+04, 7.65368000e+05,
       1.76650955e+06, 2.43600000e+04, 6.95884000e+05, 2.20745680e+05,
       4.52269330e+05, 2.22140000e+05, 1.45116000e+04, 8.68840000e+04,
       3.91268000e+05, 3.12968000e+05, 4.03680000e+04, 6.50040000e+04,
       7.17460000e+05, 1.58920000e+04, 6.02620000e+05, 3.07139280e+06,
       2.47080000e+03, 1.00340000e+06, 8.11153200e+04, 6.49252000e+05,
       9.29740000e+05, 5.06920000e+04, 3.56410000e+05, 2.52880000e+04,
       1.50423000e+04, 9.64737200e+04, 6.42060000e+05, 5.00472720e+06,
       6.49600000e+03, 2.91648360e+05, 1.68687000e+03, 2.17065000e+06,
       4.83998400e+05, 3.21552000e+04, 1.20000000e+05, 3.69170000e+04,
       9.52128000e+05, 1.26500960e+06, 9.95883200e+04, 3.74100000e+05,
       1.70148800e+05, 6.74333636e+06, 4.71388300e+04, 6.46816000e+04,
       5.48413200e+05, 3.19074588e+06, 2.20400000e+04, 8.18960000e+05,
       1.78640000e+04, 1.57156800e+06, 2.49400000e+04, 2.43484000e+05,
       1.37233800e+05, 1.46465080e+05, 5.10864000e+05, 1.05268144e+06,
       3.89760000e+03, 5.42880000e+03, 1.72648136e+06, 1.80844000e+05,
       1.90124000e+05, 1.30859600e+06, 5.90440000e+04, 1.86587028e+06,
       3.01600000e+04, 4.53812800e+04, 9.41920000e+04, 4.98637600e+04,
       4.67712000e+03, 7.48200000e+04, 2.40932000e+05, 2.08800000e+04,
       1.12697160e+05, 1.12000000e+04, 2.10714000e+04, 5.35920000e+04,
       1.24004000e+05, 4.52052000e+05, 6.07117320e+05, 5.82784000e+04,
       6.53080000e+04, 5.81160000e+04, 5.80000000e+04, 2.29146400e+06,
       2.04966200e+05, 4.21080000e+04, 5.27104000e+05, 1.17856000e+05,
       2.71440000e+04, 7.23550000e+05, 5.57960000e+04, 1.43724000e+05,
       9.92496000e+04, 1.16863794e+06, 1.38992522e+06, 6.80920000e+04,
       2.19391119e+06, 2.91160000e+04, 1.29815600e+04, 7.00000000e+05,
       2.22024000e+05, 2.25272000e+06, 3.72812400e+04, 1.26440000e+06,
       9.32363920e+05, 9.74400000e+04, 5.28380000e+05, 1.79684010e+05,
       8.10898000e+04, 1.17071840e+05, 2.21212000e+05, 2.45456000e+05,
       1.65139080e+05, 3.38010080e+05, 5.79131210e+05, 1.32240000e+05,
       6.08942000e+04, 8.29660000e+04, 8.16029820e+05, 2.91740000e+05,
       1.85270330e+05, 3.05473360e+05, 4.55880000e+04, 1.91640820e+05,
       1.04116463e+06, 2.07280548e+06, 9.41108000e+04, 1.95825400e+05,
       6.76755600e+04, 8.19435600e+05, 8.24342400e+04, 2.70018000e+05,
       4.55160800e+05, 1.62168000e+05, 1.86528000e+05, 8.31720000e+04,
       8.83108000e+04, 1.97200000e+04, 5.94353840e+05, 1.94800000e+06,
       1.64513984e+06, 3.37014800e+04, 1.12520000e+04, 3.64240000e+04,
       1.17624000e+05, 1.10200000e+05, 5.45316000e+05, 2.36465770e+05,
       1.39200000e+06, 8.82760000e+04, 1.00662376e+06, 2.29819200e+05,
       5.63760000e+05, 2.23068000e+05, 5.42400900e+04, 3.68903060e+05,
       4.63257600e+04, 8.24180000e+04, 4.11486900e+04, 7.89208400e+04,
       2.73760000e+04, 5.04043200e+04, 4.29617600e+04, 1.63894080e+05,
       1.40360000e+04, 1.10507400e+06, 1.73826000e+05, 9.04800000e+03,
       4.00432000e+05, 2.07408000e+05, 1.59210000e+04, 1.45754000e+05,
       2.50371500e+05, 5.21536000e+04, 1.62446400e+04, 5.27498400e+04,
       2.81480380e+05, 6.71640000e+04, 1.50667760e+05])

In [28]:
#x cobrar vig
(pedidosv['total'].sum()-pedidosv['saldo'].sum())/1.16

20860816.672068976

In [31]:
#x cobrar todo
(pedidos['total'].sum()-pedidos['saldo'].sum())/1.16

20020865.300689638

In [33]:

(pedidosc['total'].sum()-pedidosc['saldo'].sum())/1.16

-839951.3713792994

In [7]:
pedidos_interes=pedidosc.loc[pedidosc['total']<pedidosc['saldo']]

In [6]:
pedidosc=pedidos.loc[pedidos['total']-pedidos['saldo']<=1]

In [41]:
pedidos_interes['total']=pedidos_interes['total'].astype(decimal)

NameError: name 'decimal' is not defined

In [11]:
(pedidos_interes['total'].sum()-pedidos_interes['saldo'].sum())/1.16

-839951.6203448273