In [3]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#id del pedido en cuestion
id=str(sys.argv[1])
id=1
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id =1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer todas las cobros
cobros=pd.read_sql("""Select cobros.* ,customers.customer,internal_orders.invoice,
coins.exchange_sell, coins.coin, coins.symbol,users.name as capturista,
banks.bank_description, factures.facture
from (((((
    cobros inner join internal_orders on internal_orders.id = cobros.order_id) 
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
    left join users on cobros.capturo=users.id)
    inner join factures on factures.id = cobros.facture_id)
    inner join banks on banks.id=cobros.bank_id """,cnx)
print(cobros)
nordenes=len(pd.read_sql(query,cnx))
df=cobros[['date']]
print(cobros['order_id'])
writer = pd.ExcelWriter('storage/report/resumen_comprobante'+str(id)+'.xlsx', engine='xlsxwriter')
if(int(id)!=0):
   cobros=cobros.loc[cobros['order_id']==int(id)]
workbook = writer.book
##FORMATOS PARA EL TITULO------------------------------------------------------------------------------
rojo_l = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1,})

blue_header_format = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})
blue_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'font_size':13})

red_header_format = workbook.add_format({
    'bold': True,
    'bg_color': b_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})

red_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': b_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'font_size':13})
yellow_header_format = workbook.add_format({
    'bold': True,
    'bg_color': '#e8b321',
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})
green_header_format = workbook.add_format({
    'bold': True,
    'bg_color': '#2D936C',
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})

#FORMATOS PARA TABLAS PER CE------------------------------------

blue_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12,
    'border_color':a_color})

blue_content_bold = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12,
    'border_color':a_color,
    'font_size':13})
yellow_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12,
    'border_color':'#e8b321'})
red_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12,
    'border_color':b_color})

green_content = workbook.add_format({
    'border': 3,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12,
    'border_color':b_color})
red_content_bold = workbook.add_format({
    'bold':True,
    'border': 3,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13,
    'border_color':'#80848E'})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})


df.to_excel(writer, sheet_name='Sheet1', startrow=7,startcol=6, header=False, index=False)
worksheet = writer.sheets['Sheet1']



#Encabezado del documento--------------

worksheet.merge_range('B2:G3', 'TYRSA CONSORCIO S.A. DE C.V. ', rojo_l)
worksheet.merge_range('B3:F3', 'RESUMEN DE COMPROBANTE DE INGRESOS', negro_s)
worksheet.merge_range('H4:R4', 'Cuentas Cobradas Pedidos Internos', rojo_b)
import datetime

currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
year = date.strftime("%Y")
worksheet.write('H2', 'AÑO', negro_b)
worksheet.write('I2', year, negro_b)
worksheet.merge_range('J2:K3', """FECHA DEL REPORTE
DD/MM/AAAA""", negro_b)
worksheet.merge_range('J4:K4', date, negro_b)
worksheet.insert_image("A1", "img/logo/logo.png",{"x_scale": 0.6, "y_scale": 0.6})

worksheet.merge_range('C6:C7', 'PDA', blue_header_format)
worksheet.merge_range('D6:D7', 'FECHA', blue_header_format)
worksheet.merge_range('E6:E7', 'NUMERO DE COMPROBANTE', blue_header_format)
worksheet.merge_range('F6:F7', 'BANCO', blue_header_format)
worksheet.merge_range('G6:G7', 'FACTURA', blue_header_format)
worksheet.merge_range('H6:H7', 'PI', blue_header_format)
worksheet.merge_range('I6:I7', 'CLIENTE', blue_header_format)
worksheet.merge_range('J6:J7', 'MONEDA', blue_header_format)
worksheet.merge_range('K6:K7', 'TC', blue_header_format)

worksheet.merge_range('L6:M6', 'IMPORTE TOTAL I/I', blue_header_format)
worksheet.write('L7', 'DLLS', blue_header_format)
worksheet.write('G7', 'MN', blue_header_format)

worksheet.merge_range('N6:N7', 'CAPTURO ', blue_header_format)
worksheet.merge_range('O6:O7', 'REVISO ', blue_header_format)
worksheet.merge_range('P6:P7', 'AUTORIZO', blue_header_format)


for i in range(0,len(cobros)):
   row_index=str(8+i)
   worksheet.write('C'+row_index, str(i+1), blue_content)
   worksheet.write('D'+row_index, str(cobros['date'].values[i]), blue_content)
   worksheet.write('E'+row_index, str(cobros['bank_description'].values[i]), blue_content)
   worksheet.write('F'+row_index, str(cobros['facture'].values[i]), blue_content)
   worksheet.write('G'+row_index, str(cobros['invoice'].values[i]), blue_content)
   worksheet.write('H'+row_index, str(cobros['customer'].values[i]), blue_content)
   worksheet.write('I'+row_index, str(cobros['coin'].values[i]), blue_content)
   worksheet.write('J'+row_index, str(cobros['exchange_sell'].values[i]), blue_content)
   worksheet.write('K'+row_index, str(cobros['amount'].values[i]), blue_content)
   worksheet.write('L'+row_index, str(cobros['exchange_sell'].values[i]*cobros['amount'].values[i]), blue_content)
   
   worksheet.write('M'+row_index, str(cobros['capturista'].values[i]), blue_content)
   worksheet.write('N'+row_index, ' ', blue_content)
   worksheet.write('O'+row_index, ' ', blue_content)
   
   worksheet.write('P'+row_index, str(cobros['comp'].values[i]), blue_content)
 
trow=8+len(cobros)

worksheet.merge_range('I'+str(trow)+':J'+str(trow), 'Total', blue_header_format_bold)
worksheet.write('K'+str(trow), str(cobros['amount'].sum()), blue_content)
worksheet.write('L'+str(trow), str(cobros['exchange_sell'].values[0]*cobros['amount'].sum()), blue_content_bold)
   


worksheet.set_column('L:L',15)
worksheet.set_column('H:H',15)
worksheet.set_column('P:P',15)
worksheet.set_landscape()
worksheet.set_paper(9)
worksheet.fit_to_pages(1, 1)  
workbook.close()

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

      id  order_id  bank_id  coin_id  facture_id   tc      amount  comp  \
0     21       116        2        1           6  1.0   150000.00  1066
1     22       116        2        1           7  1.0    20000.00  1472
2     23       116        2        1           8  1.0    20000.00  1492
3     24       116        2        1           9  1.0    23200.00  1526
4     25       116        2        1          10  1.0    23200.00  1552
..   ...       ...      ...      ...         ...  ...         ...   ...
152  190       182        1        1         175  1.0    25346.00  1928
153  192       188        2        1         179  1.0    64206.00  2000
154  195       213        2        1         181  1.0  1772636.60  2009
155  219       186        1        1         182  1.0    15042.30  1931
156  953       620        2        1         826  1.0   218737.57  2625

           date  created_at  ... reviso  autorizo  \
0    2020-02-24  2023-04-26  ...   42.0      42.0
1    2021-08-16  2023-04-26  ...   33.0      42.0
2    2021-09-17  2023-04-26  ...   42.0      42.0
3    2021-11-12  2023-04-26  ...   42.0      42.0
4    2021-12-23  2023-04-26  ...   42.0      42.0
..          ...         ...  ...    ...       ...
152  2023-03-16  2023-06-08  ...    9.0       NaN
153  2023-05-31  2023-06-09  ...    9.0       NaN
154  2023-06-07  2023-06-09  ...    9.0       NaN
155  2023-03-17  2023-06-12  ...    9.0       NaN
156  2025-01-08  2025-01-10  ...   33.0      42.0

                                            customer  invoice exchange_sell  \
0                             DPS GESTION DOCUMENTAL     2175           1.0
1                             DPS GESTION DOCUMENTAL     2175           1.0
2                             DPS GESTION DOCUMENTAL     2175           1.0
3                             DPS GESTION DOCUMENTAL     2175           1.0
4                             DPS GESTION DOCUMENTAL     2175           1.0
..                                               ...      ...           ...
152                      TIENDAS TRES B S.A. DE C.V.     2985           1.0
153      INSUMOS COMERCIALES ESPECIALIZADOS SA DE CV     2991           1.0
154          AAACESA ALMACENES FISCALIZADOS SA DE CV     3012           1.0
155  CONTENEDORES Y QUIMICOS DE MEXICO, S.A. DE C.V.     2989           1.0
156                    SOLUCIONES INTELIGENTES LOMAR     3326           1.0

         coin  symbol                       capturista bank_description  \
0    NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
1    NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
2    NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
3    NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
4    NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
..        ...     ...                              ...              ...
152  NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANAMEX
153  NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
154  NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANORTE
155  NACIONAL       $  HERREÑO\tMORENO\tNELSON ERNESTO          BANAMEX
156  NACIONAL       $   CLAUDIA ISABEL HERNANDEZ TELLO          BANORTE

    facture
0    A 2549
1    A 2929
2    A 2949
3    A 2981
4    A 3007
..      ...
152  A 3426
153  A 3496
154  A 3519
155  A 3431
156  A 4115

[157 rows x 22 columns]
0      116
1      116
2      116
3      116
4      116
      ...
152    182
153    188
154    213
155    186
156    620
Name: order_id, Length: 157, dtype: int64

IndexError: index 0 is out of bounds for axis 0 with size 0

In [7]:
cobros.loc[cobros['order_id']==681]

,cobro_id,order_id,id,created_at,updated_at,amount,comp,date,bank_id,customer_id,invoice,noha,seller_id,comision,total
13,1063,681,1083,2025-03-20,2025-03-20,4609.94,2707,2025-03-12,2,547,3354,16,2,0.03,7864.8

In [7]:
459692.30/2

229846.15

In [20]:
orders.loc[orders['date'].astype(str)>str(date.strftime("%Y"))+'-01-01',"total"]

423    5.183228e+04
424    1.003168e+05
425    1.026716e+04
426    1.295720e+04
427    1.088080e+05
428    1.128912e+05
429    6.275600e+04
430    7.946000e+04
431    6.739600e+04
432    4.609944e+03
433    8.120000e+03
434    3.961400e+05
435    5.707200e+04
436    2.587960e+05
437    8.651280e+03
438    1.063720e+05
439    2.489360e+03
440    1.651724e+06
441    2.683672e+05
442    3.209720e+05
443    3.209720e+05
444    3.430120e+05
445    1.894280e+05
446    6.275832e+04
447    0.000000e+00
448    1.940100e+04
449    4.369720e+04
450    1.263240e+05
451    0.000000e+00
452    2.487040e+05
453    9.326400e+04
454    2.379160e+06
455    0.000000e+00
456    4.717720e+06
457    2.379160e+06
458    4.609944e+03
459    6.496000e+04
460    1.476680e+05
461    0.000000e+00
462    3.781600e+04
463    0.000000e+00
464    0.000000e+00
465    5.707200e+04
466    0.000000e+00
Name: total, dtype: float64

In [16]:
orders.loc[orders['date'].astype(str)>'2025-01-01','total'].sum()

14925724.8488

In [19]:
str(date.strftime("%Y"))+'01-01'

'202501-01'

In [ ]:
import datetime
from dateutil.relativedelta import relativedelta
import numpy as np

year = datetime.date.today().year
quincena=12
month = np.ceil(quincena/ 2)
isFirstHalf = quincena % 2 != 0
startDate =  str(year)+"-"+str(int(month)).zfill(2)+"-01" if isFirstHalf else  str(year)+"-"+str(int(month)).zfill(2)+"-15"
endDate =  str(year)+"-"+str(int(month)).zfill(2)+"-14" if isFirstHalf else  str((datetime.datetime(year,int(month),1 )+relativedelta(months=1))-datetime.timedelta(days=1))[:10];

2025-06-15 2025-06-30

In [ ]:
#siguiente mes en dia primero

'2025-05-31'

In [11]:
'1'.zfill(2)

'01'

In [19]:
facturas.loc[facturas['id'].isin(cobros_facturas.loc[cobros_facturas['cobro_id'].isin(cobros['cobro_id'].values)].facture_id.values)]

,id,order_id,ordinal,facture,amount,status,npagos,created_at,updated_at,date,coin_id,tc
1,826,620,1,A 4115,818738.0,CAPTURA,None,2025-01-10,2025-01-10,2025-01-10,1,1.0
2,835,620,1,A 4125,1309980.0,CAPTURA,None,2025-01-27,2025-01-27,2025-01-21,1,1.0

In [20]:
facturas

,id,order_id,ordinal,facture,amount,status,npagos,created_at,updated_at,date,coin_id,tc
0,821,620,1,A 4110,818738.0,CAPTURA,None,2025-01-03,2025-01-03,2024-12-30,1,1.0
1,826,620,1,A 4115,818738.0,CAPTURA,None,2025-01-10,2025-01-10,2025-01-10,1,1.0
2,835,620,1,A 4125,1309980.0,CAPTURA,None,2025-01-27,2025-01-27,2025-01-21,1,1.0

In [23]:
818738.0+1309980.0

2128718.0

In [42]:
for i in cobros.cobro_id.unique():
    print(i)
    fac_ids=cobros_facturas.loc[cobros_facturas['cobro_id']==i].facture_id.unique()
    for j in fac_ids:
        print('',j)
        print(len(facturas.loc[facturas['id']==j,['id','facture']]))

214
 150
1
 159
1
215
 151
1
216
 152
1
 153
1
217
 154
1
 155
1
249
 157
1
 158
1
 212
1
483
 417
1
 426
0
 440
1
 441
1
 442
0
487
 374
1
 443
1
542
 455
1
573
 515
1
635
 515
1
665
 544
1

In [10]:
cobros.facture_id

AttributeError: 'DataFrame' object has no attribute 'facture_id'

In [32]:
all_facturas

NameError: name 'all_facturas' is not defined

In [18]:
cobros_facturas.loc[cobros_facturas['cobro_id']==679]

     cobro_id  facture_id    id  created_at  updated_at
639       679         167  1034  2025-01-26  2025-01-26

In [26]:
allcobros['ordinal']=range(1,len(allcobros)+1)

C:\Users\hp\AppData\Local\Temp\ipykernel_14000\141872390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allcobros['ordinal']=range(1,len(allcobros)+1)

In [27]:
allcobros

,cobro_id,order_id,id,created_at,updated_at,amount,comp,date,bank_id,customer_id,invoice,noha,seller_id,comision,total,ordinal
33,58,155,40,None,None,1252626.0,1862,2022-12-29,2,446,2950,2022,14,0.003,2505252.0,1
34,59,155,41,None,None,1002100.8,1940,2023-03-28,2,446,2950,2022,14,0.003,2505252.0,2
540,595,155,580,2024-03-01,2024-03-01,250525.2,2297,2024-03-01,2,446,2950,2022,14,0.003,2505252.0,3

In [ ]:
cobros[['invoive']]

,cobro_id,order_id,id,created_at,updated_at,amount,comp,date,bank_id,customer_id,invoice,noha,seller_id,comision,total
0,21,116,4,None,None,150000.00,1066,2020-02-24,2,506,2175,12020,2,0.030,356120.00
1,22,116,5,None,None,20000.00,1472,2021-08-16,2,506,2175,12020,2,0.030,356120.00
2,23,116,6,None,None,20000.00,1492,2021-09-17,2,506,2175,12020,2,0.030,356120.00
3,24,116,7,None,None,23200.00,1526,2021-11-12,2,506,2175,12020,2,0.030,356120.00
4,25,116,8,None,None,23200.00,1552,2021-12-23,2,506,2175,12020,2,0.030,356120.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,695,332,688,2024-05-17,2024-05-17,55482.68,2381,2024-05-16,1,418,3102,1412023,14,0.003,1090632.00
633,695,451,689,2024-05-17,2024-05-17,92624.84,2381,2024-05-16,1,418,3102,1412023,14,0.003,1090632.00
634,696,438,690,2024-05-17,2024-05-17,444048.00,2382,2024-05-16,2,337,3191,42,5,0.003,1110120.00
635,697,398,691,2024-05-17,2024-05-17,502194.16,2383,2024-05-17,2,424,3160,11,2,0.003,1062388.32
636,698,375,692,2024-05-17,2024-05-17,1087516.70,2384,2024-05-17,1,349,3142,1812023,5,0.003,2718791.76