In [ ]:
import sys
import mysql.connector
import xlsxwriter
from xlsxwriter.utility import xl_rowcol_to_cell
import pandas as pd
import sys
import mysql.connector
import os
import datetime
from dateutil.relativedelta import relativedelta
import numpy as np

year = datetime.date.today().year

# quincena=int(sys.argv[1])+1
quincena=1
month = np.ceil(quincena/ 2)
isFirstHalf = quincena % 2 != 0
startDate =  str(year)+"-"+str(int(month)).zfill(2)+"-01" if isFirstHalf else  str(year)+"-"+str(int(month)).zfill(2)+"-16"
endDate =  str(year)+"-"+str(int(month)).zfill(2)+"-15" if isFirstHalf else  str((datetime.datetime(year,int(month),1 )+relativedelta(months=1))-datetime.timedelta(days=1))[:10];

from dotenv import load_dotenv
load_dotenv()
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id = 1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)
#Calcular el intervalo segun num de quincena


#traer datos de los pedidos
programados=pd.read_sql('select * from payments',cnx)
clientes=pd.read_sql("""select  * from customers """,cnx)
bancos=pd.read_sql("""select  * from banks """,cnx)

pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol, coins.code,sellers.seller_name
from (((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
    inner join  sellers on sellers.id=internal_orders.seller_id)
                    where internal_orders.status  != 'CANCELADO'
     """,cnx)

cobros=pd.read_sql("""select cobro_orders.*,cobros.comp,cobros.date,cobros.bank_id,
                   internal_orders.customer_id,internal_orders.invoice,internal_orders.noha,
                   internal_orders.seller_id,internal_orders.comision,internal_orders.total
                     from (((
                         cobro_orders 
    inner join cobros on cobros.id=cobro_orders.cobro_id)
    inner join internal_orders on internal_orders.id = cobros.order_id )
    inner join coins on internal_orders.coin_id = coins.id)
                   where cobros.date >= '"""+startDate+"' and cobros.date <= '"+endDate+"'",cnx)
cobros=cobros.sort_values('invoice')

facturas=pd.read_sql("""select factures.*,cobro_factures.cobro_id
                     from (((
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )
    inner join cobro_factures on cobro_factures.facture_id=factures.id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)

creditos=pd.read_sql("""select * 
                     from ((
                         credit_notes    inner join internal_orders on internal_orders.id = credit_notes.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)

vendedores=pd.read_sql("""select * 
                     from sellers where status='ACTIVO'""",cnx)

socios=pd.read_sql("select * from sellers where  dgi > 0",cnx)

no_socios=pd.read_sql("select * from sellers where status='ACTIVO' and dgi <= 0",cnx)
comisiones=pd.read_sql("""select * 
                     from comissions""",cnx)

nordenes=len(pedidos)
df=pedidos[['date']]

tc=pd.read_sql('select * from coins where id=13 ',cnx)['exchange_sell'].values[0]
writer = pd.ExcelWriter('storage/report/dgi_resumen_ejecutivos'+str(quincena-1)+'.xlsx', engine='xlsxwriter')
workbook = writer.book
##FORMATOS PARA EL TITULO------------------------------------------------------------------------------
rojo_l = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    #'fg_color': 'yellow',
    'font_color': 'red',
    'font_size':16})
negro_s = workbook.add_format({
    'bold': 0,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11})
firmas = workbook.add_format({
    'bold': 0,
    'top': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12})

negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13,
    
    'text_wrap': True,
    'num_format': 'dd/mm/yyyy'}) 

rojo_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    'font_size':13})      
divisor = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'bg_color': '#696e78',
    'border': 0,})

#FORMATOS PARA CABECERAS DE TABLA --------------------------------
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'center',
    'fg_color': 'yellow',
    'border': 1,})

blue_header_format = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
     'text_wrap': True,
    'valign': 'vcenter',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1})
blue_header_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'vcenter',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'num_format': '[$$-409]#,##0.00',
    'font_size':13})

blue_footer_format_bold = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'num_format': '[$$-409]#,##0.00',
    'font_size':11})
#FORMATOS PARA TABLAS PER CE------------------------------------

blue_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})
blue_content_red = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'red',
    
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})
blue_content_unit = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    
    'border_color':a_color,
    'font_size':10,
    })


blue_content_dll = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'font_size':10,
    'num_format': '[$$-409]#,##0.00'})

blue_content_bold = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})

blue_content_bold_dll = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':11,
    'bg_color': '#b4e3b1',
    'border_color':a_color,
    'num_format': '[$$-409]#,##0.00'})
blue_content_footer_dll = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'white',
    'font_size':11,
    'bg_color': '#356e31',
    'border_color':'white',
    'num_format': '[$$-409]#,##0.00'})
blue_content_footer = workbook.add_format({
    'bold': True,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'white',
    'font_size':11,
    'bg_color': '#3e5585',
    'border_color':'white',
    'num_format': '[$$-409]#,##0.00'})
blue_content_date = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':9,
    'border_color':a_color,
    'num_format': 'dd/mm/yyyy'})
#FOOTER FORMATS---------------------------------------------------------
observaciones_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#BDD7EE',
    'border': 1})

total_cereza_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color':'#F4B084',
    'border': 1})


import datetime
#para transformar coordenadas de columnas al nombre en letra A,B---
start = ord('A') 
currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
year = date.strftime("%Y")
#Columna para filtrar por fechas
pedidos['date']=pd.to_datetime(pedidos['date'])

# -------------HOJA DE RESUMEN
worksheet= workbook.add_worksheet("Resumen")
#Encabezado del documento--------------
worksheet.write('G2', 'AÑO', negro_b)
worksheet.write('H2', year, negro_b)
worksheet.merge_range('G2:H3', """FECHA DEL REPORTE
DD/MM/AAAA""", negro_b)
worksheet.merge_range('I2:I3', date, negro_b)
worksheet.insert_image("A1", "img/logo/logo.png",{"x_scale": 0.6, "y_scale": 0.6})
worksheet.merge_range('B3:F4', """TABLA DE VENDEDORES PARA PAGO DE COMISIONES  
                      DGI PARA NIVELES DIRECTIVOS""", negro_b)
worksheet.merge_range('B5:F5', "Se reporta del "+str(startDate) +" al "+ str(endDate), negro_s)

##SEGUNDA TABLA DE RESUMEN VENTAS DIRECTAS
#Cabeceras
worksheet.merge_range(5,3+len(socios),8,3+len(socios),"""SIN IVA
COMISION GENERADA""",blue_header_format)
worksheet.merge_range(5,1,8,1,"""
PEDIDO INTERNO""",blue_header_format)
worksheet.write(5,2,'No. vendedor',blue_header_format)
worksheet.write(6,2,'Iniciales',blue_header_format)
worksheet.write(7,2,'Nombre corto',blue_header_format)
worksheet.write(8,2,'comp.Ingesos',blue_header_format)
#antes de iterar inicializo este array para guardar comisiones
totales = {row.iniciales: 0 for _, row in socios.iterrows()}
#total de cada xobro columna
for i in range(len(cobros)):
    this_comisions=comisiones.loc[comisiones['order_id']==cobros['order_id'].values[i]]
    
    worksheet.write(9+i,1,cobros['invoice'].values[i],blue_content)
    worksheet.write(9+i,2,cobros['comp'].values[i],blue_content)
    worksheet.write(9+i,3+len(socios),(cobros['amount'].values[i]/1.16)*this_comisions['percentage'].sum(),blue_content)
for i in range(len(socios)):
    this_comisions=comisiones.loc[(comisiones['seller_id']==socios['id'].values[i])]
    worksheet.write(5,3+i,str(i+1),blue_header_format)
    worksheet.write(6,3+i,socios['iniciales'].values[i],blue_header_format)
    worksheet.write(7,3+i,str(socios['seller_name'].values[i]).split()[-1],blue_header_format)
    worksheet.write(8,3+i,'comision $',blue_header_format)
    worksheet.write(len(cobros)+10, 3+i,str(socios['seller_name'].values[i]).split()[-1],blue_content_footer)
    for j in range(len(cobros)):
        comision_secundaria=this_comisions.loc[(this_comisions['order_id']==cobros['order_id'].values[j])&(this_comisions['description']!='DGI')]
        amount=0
        if(cobros['seller_id'].values[j]==socios['id'].values[i]):
           amount=(cobros['amount'].values[j]/1.16)*cobros['comision'].values[j]  
           totales[socios['iniciales'].values[i]] += (cobros['amount'].values[j]/ 1.16) * cobros['comision'].values[j]
          
        
        if(len(comision_secundaria)>0):
           amount=(cobros['amount'].values[j]/1.16)*comision_secundaria['percentage'].values[0]
        #    totales[socios['iniciales'].values[i]] += (cobros['amount'].values[j]/1.16)*comision_secundaria['percentage'].sum()
        worksheet.write(9+j,3+i,amount,blue_content)
           
       

for i in range(len(socios)):
        # Definir el rango para la fórmula
    start_cell = xl_rowcol_to_cell(9, 3+i)  # Primera celda (0, 0 -> A1)
    end_cell = xl_rowcol_to_cell(len(cobros) +8, 3+i) 
    # Crear la fórmula SUM para sumar la columna
    formula = f"=SUM({start_cell}:{end_cell})"

    # Escribir la fórmula en una celda (por ejemplo, en la fila 6, columna 1 -> A6)
    worksheet.write_formula(len(cobros)+9, 3+i, formula,blue_footer_format_bold)
    worksheet.write_formula(len(cobros)+11, 3+i, formula,blue_footer_format_bold)
    #Formulas para totales de la tabla inferior
    start_cell = xl_rowcol_to_cell(len(cobros)+11, 3+i)  # Primera celda (0, 0 -> A1)
    end_cell = xl_rowcol_to_cell(len(cobros)+12, 3+i) 
    # Crear la fórmula SUM para sumar la columna
    formula = f"=SUM({start_cell}:{end_cell})"
    worksheet.write_formula(len(cobros)+13, 3+i, formula,blue_footer_format_bold)
    worksheet.write(len(cobros)+12, 3+i, totales[socios['iniciales'].values[i]],blue_content)

worksheet.write_formula(len(cobros)+9, 3+len(socios), f"=SUM({chr(start+3+len(socios))}10:{chr(start+3+len(socios))}"+str(len(cobros)+9)+")",blue_footer_format_bold)
worksheet.write(len(cobros)+10, 3+len(socios), 'TOTALES',blue_footer_format_bold)
worksheet.write_formula(len(cobros)+11, 3+len(socios), f"=SUM({chr(start+3+len(socios))}10:{chr(start+3+len(socios))}"+str(len(cobros)+9)+")",blue_footer_format_bold)


##Tabla inferior de TOTALES
worksheet.merge_range(9+len(cobros),1,10+len(cobros),2,"",blue_header_format)
worksheet.merge_range(11+len(cobros),1,11+len(cobros),2,"""DGI""",blue_header_format)
worksheet.merge_range(12+len(cobros),1,12+len(cobros),2,"""COMISIONES""",blue_header_format)
#suma de total comisiones no dgi
worksheet.write_formula(len(cobros)+12, 3+len(socios), f"=SUM(D{str(len(cobros)+13)}:{chr(start+2+len(socios))}{str(len(cobros)+13)})",blue_footer_format_bold)

worksheet.merge_range(13+len(cobros),1,13+len(cobros),2,"""TOTALES""",blue_header_format)
worksheet.write_formula(len(cobros)+13, 3+len(socios), f"=SUM({chr(start+3+len(socios))}{str(len(cobros)+12)}:{chr(start+3+len(socios))}{str(len(cobros)+13)})",blue_footer_format_bold)

worksheet.set_row(5,27)

#AGRANDAR CPLUMNAS
worksheet.set_column('A:A',15)
worksheet.set_column('B:B',20)

worksheet.set_column('D:D',20)
worksheet.set_column('F:F',25)
worksheet.set_column('G:G',35)
worksheet.set_column('E:O',18)
worksheet.set_column('P:T',15)
worksheet.set_column('U:AX',19)
worksheet.set_landscape()
worksheet.set_paper(9)
worksheet.fit_to_pages(1, 1)  
workbook.close()

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [30]:
this_comisions.loc[(this_comisions['seller_id']==socios['id'].values[i])&(this_comisions['description']!='DGI')]

,id,order_id,seller_id,percentage,dgi,created_at,updated_at,description
1418,1427,450,28,0.000200,0.0,2024-04-03,2024-04-03,DGI DG
1423,1432,451,28,0.000200,0.0,2024-04-03,2024-04-03,DGI DG
1428,1437,452,28,0.002000,0.0,2024-04-03,2024-04-03,DGI DG
1432,1441,453,28,0.000200,0.0,2024-04-03,2024-04-03,DGI DG
1437,1446,454,28,0.000200,0.0,2024-04-05,2024-04-05,DGI DG
...,...,...,...,...,...,...,...,...
2056,2073,747,28,0.014464,0.0,2025-05-19,2025-05-27,DGI DG
2059,2076,748,28,0.014464,0.0,2025-05-21,2025-05-27,DGI DG
2062,2079,749,28,0.014464,0.0,2025-05-21,2025-05-27,DGI DG
2065,2082,750,28,0.014464,0.0,2025-05-22,2025-05-27,DGI DG
2068,2085,751,28,0.014464,0.0,2025-05-23,2025-05-27,DGI DG

In [ ]:
this_comisions.loc[this_comisions[(this_comisions['seller_id'] == cobros['seller_id'].values[j]) &
                (this_comisions['description'] != 'compartida')],'percentage'].sum()

In [21]:
totales

{'HCNA': 0, 'HCCL': 0, 'HCFA': 0, 'HMNE': 0}

In [14]:
facturas['date'].min()

'0022-10-20'

In [5]:
letter_total.upper()

'NOVECIENTOS NOVENTA Y CINCO MIL CUARENTA Y CUATRO PUNTO CINCO DOS'

In [2]:
for i in range(7):
    print(i*58)

0
58
116
174
232
290
348

In [45]:
npages

5

In [55]:
required_signatures

,id,order_id,auth_id,status,created_at,updated_at,firma,titulo
0,2006.0,815.0,2.0,0,2025-08-29,2025-08-29,None,GERENTE DE VENTAS
1,2007.0,815.0,3.0,0,2025-08-29,2025-08-29,None,GERENTE ADMINISTRATIVO
2,NaN,NaN,NaN,0,NaN,NaN,,FIRMA
4,NaN,NaN,NaN,0,NaN,NaN,,FIRMA
6,NaN,NaN,NaN,0,NaN,NaN,,FIRMA

In [40]:
required_signatures=pd.concat([required_signatures,pd.DataFrame({'firma': ' ','titulo': 'FIRMA','status':0},index=[len(required_signatures)+i])])

In [41]:
comisiones

,id,order_id,seller_id,percentage,dgi,created_at,updated_at,description,iniciales,seller_name
0,2196,800,4,0.0001,0,2025-07-10,2025-07-10,DGI,HCCL,HERREÑO\tCORRALES\tCHRISTIAN LEONARDO
1,2197,800,5,0.0001,0,2025-07-10,2025-07-10,DGI,HCFA,HERREÑO\tCORRALES\tFREDY ALEXANDER
2,2198,800,28,0.0001,0,2025-07-10,2025-07-10,DGI,HMNE,HERREÑO\tMORENO\tNELSON ERNESTO

In [32]:
payload['completer']

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [2]:
500*24

12000

In [97]:
payload['order']

{'id': 808,
 'invoice': '3469',
 'date': datetime.date(2025, 7, 31),
 'customer_id': 782,
 'seller_id': 2,
 'date_delivery': datetime.date(2025, 8, 26),
 'instalation_date': datetime.date(2025, 8, 26),
 'shipment': 'Sí',
 'customer_shipping_address_id': 469,
 'coin_id': 1,
 'subtotal': 46000.0,
 'iva': 7360.0,
 'total': 53360.0,
 'payment_conditions': '1',
 'pays': None,
 'observations': 'SE HACE ENTREGA EN  VILLAHERMOSA.',
 'status': 'AUTORIZADO',
 'authorization_id': 1,
 'created_at': numpy.datetime64('2025-07-31T08:48:25.000000000'),
 'updated_at': numpy.datetime64('2025-07-31T10:41:09.000000000'),
 'comision': 0.03,
 'reg_date': datetime.date(2025, 7, 31),
 'oc': '0',
 'ncontrato': '0',
 'isr': 0.0,
 'ieps': 0.0,
 'descuento': 0.0,
 'ncotizacion': '0',
 'otra': 0.0,
 'dgi': 0.0,
 'noha': 130,
 'ret': None,
 'tasa': 0.0,
 'description': 'SD',
 'category': 'Servicios',
 'kilos': 0.0,
 'medio_id': 4,
 'marca': 9,
 'payment_observations': 'FACTURAR: EL 100 % ANTICIPO.',
 'vent_auth': 1,
 'user_id': 35,
 'tc': 0.0,
 'clave': '488',
 'alias': 'AIRCOLD',
 'exchange_sell': 1.0,
 'coin': 'NACIONAL',
 'symbol': '$',
 'code': 'MXN'}

11.0

In [83]:
payload['customer']['customer_street']

'Av. Coyoacan'

In [45]:
required_signatures

,id,order_id,auth_id,status,created_at,updated_at,firma,titulo
0,1982,808,2,1,2025-07-31,2025-07-31,ADGom,GERENTE DE VENTAS
1,1983,808,3,1,2025-07-31,2025-07-31,MR,GERENTE ADMINISTRATIVO

In [39]:
payload['items']

[{'id': 809,
  'internal_order_id': 808,
  'item': '1',
  'amount': 1,
  'unit': 'SERVICIO',
  'family': 'RACKS',
  'code': None,
  'description': 'SERVICIO DE TRASLADO DE XHAHUENTO A CEDIS EN VILLAHERMOSA.',
  'unit_price': 46000.0,
  'import': 46000.0,
  'created_at': numpy.datetime64('2025-07-31T08:48:25.000000000'),
  'updated_at': numpy.datetime64('2025-07-31T08:48:25.000000000'),
  'fab': 'Servicios',
  'sku': 'VT',
  'racks': None,
  'subfamimlia': None,
  'categoria': None,
  'products': '1',
  'subfamilia': None}]

In [8]:
hpagos['date']

0    2025-04-02
1    2025-05-13
2    2025-05-13
Name: date, dtype: object

In [4]:
858748.0*2

1717496.0

In [27]:
facturas['estado'].unique()

array(['autorizado', 'CANCELADO'], dtype=object)

In [19]:
print(pd.read_sql(f'select factures.*,cobro_factures.cobro_id cobro_id from factures inner join cobro_factures on cobro_factures.facture_id=factures.id where order_id ={id}',cnx))

    id  order_id  ordinal facture    amount   status npagos  created_at  \
0  881       687        1  A 4176  323327.0  CAPTURA   None  2025-03-06
1  881       687        1  A 4176  323327.0  CAPTURA   None  2025-03-06
2  881       687        1  A 4176  323327.0  CAPTURA   None  2025-03-06
3  881       687        1  A 4176  323327.0  CAPTURA   None  2025-03-06

   updated_at        date  coin_id   tc  cobro_id
0  2025-03-06  2025-02-28        1  1.0      1039
1  2025-03-06  2025-02-28        1  1.0      1078
2  2025-03-06  2025-02-28        1  1.0      1103
3  2025-03-06  2025-02-28        1  1.0      1138

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
400/28

14.285714285714286

In [86]:
!pip install num2words

Collecting num2words
  Downloading num2words-0.5.14-py3-none-any.whl (163 kB)
     -------------------------------------- 163.5/163.5 kB 1.6 MB/s eta 0:00:00
Collecting docopt>=0.6.2
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: docopt
  Building wheel for docopt (setup.py): started
  Building wheel for docopt (setup.py): finished with status 'done'
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13706 sha256=afe6adc34437dd39b61d7cad7e4f209ed1c7f2e0c0eb60fed4a389409ed9654a
  Stored in directory: c:\users\fgonzalez\appdata\local\pip\cache\wheels\7c\d7\8d\2156234738063e3d4a39ba77dc677046100e62766b53807189
Successfully built docopt
Installing collected packages: docopt, num2words
Successfully installed docopt-0.6.2 num2words-0.5.14

WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\fgonzalez\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
cobros=pd.read_sql("""Select cobros.* ,
    customers.customer,customers.customer_suburb, customers.clave,
    internal_orders.invoice, internal_orders.payment_conditions,
    internal_orders.category,internal_orders.description,internal_orders.status,
    coins.exchange_sell, coins.coin, coins.symbol,
    banks.bank_description,
    capturistas.name as capturista, revisores.name as revisor, autorizadores.name as autorizador
    from (((((((
    cobros inner join internal_orders on internal_orders.id = cobros.order_id) 
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
    left join users as capturistas on cobros.capturo=capturistas.id)
    left join users as revisores on cobros.reviso=revisores.id)
    left join users as autorizadores on cobros.autorizo=autorizadores.id))
    inner join banks on banks.id=cobros.bank_id """,cnx)

In [9]:
cobros.loc[cobros['order_id']==681]

NameError: name 'cobros' is not defined

In [7]:
459692.30/2

229846.15

In [20]:
orders.loc[orders['date'].astype(str)>str(date.strftime("%Y"))+'-01-01',"total"]

423    5.183228e+04
424    1.003168e+05
425    1.026716e+04
426    1.295720e+04
427    1.088080e+05
428    1.128912e+05
429    6.275600e+04
430    7.946000e+04
431    6.739600e+04
432    4.609944e+03
433    8.120000e+03
434    3.961400e+05
435    5.707200e+04
436    2.587960e+05
437    8.651280e+03
438    1.063720e+05
439    2.489360e+03
440    1.651724e+06
441    2.683672e+05
442    3.209720e+05
443    3.209720e+05
444    3.430120e+05
445    1.894280e+05
446    6.275832e+04
447    0.000000e+00
448    1.940100e+04
449    4.369720e+04
450    1.263240e+05
451    0.000000e+00
452    2.487040e+05
453    9.326400e+04
454    2.379160e+06
455    0.000000e+00
456    4.717720e+06
457    2.379160e+06
458    4.609944e+03
459    6.496000e+04
460    1.476680e+05
461    0.000000e+00
462    3.781600e+04
463    0.000000e+00
464    0.000000e+00
465    5.707200e+04
466    0.000000e+00
Name: total, dtype: float64

In [16]:
orders.loc[orders['date'].astype(str)>'2025-01-01','total'].sum()

14925724.8488

In [19]:
str(date.strftime("%Y"))+'01-01'

'202501-01'

In [ ]:
import datetime
from dateutil.relativedelta import relativedelta
import numpy as np

year = datetime.date.today().year
quincena=12
month = np.ceil(quincena/ 2)
isFirstHalf = quincena % 2 != 0
startDate =  str(year)+"-"+str(int(month)).zfill(2)+"-01" if isFirstHalf else  str(year)+"-"+str(int(month)).zfill(2)+"-15"
endDate =  str(year)+"-"+str(int(month)).zfill(2)+"-14" if isFirstHalf else  str((datetime.datetime(year,int(month),1 )+relativedelta(months=1))-datetime.timedelta(days=1))[:10];

2025-06-15 2025-06-30

In [ ]:
#siguiente mes en dia primero

'2025-05-31'

In [11]:
'1'.zfill(2)

'01'

In [19]:
facturas.loc[facturas['id'].isin(cobros_facturas.loc[cobros_facturas['cobro_id'].isin(cobros['cobro_id'].values)].facture_id.values)]

,id,order_id,ordinal,facture,amount,status,npagos,created_at,updated_at,date,coin_id,tc
1,826,620,1,A 4115,818738.0,CAPTURA,None,2025-01-10,2025-01-10,2025-01-10,1,1.0
2,835,620,1,A 4125,1309980.0,CAPTURA,None,2025-01-27,2025-01-27,2025-01-21,1,1.0

In [20]:
facturas

,id,order_id,ordinal,facture,amount,status,npagos,created_at,updated_at,date,coin_id,tc
0,821,620,1,A 4110,818738.0,CAPTURA,None,2025-01-03,2025-01-03,2024-12-30,1,1.0
1,826,620,1,A 4115,818738.0,CAPTURA,None,2025-01-10,2025-01-10,2025-01-10,1,1.0
2,835,620,1,A 4125,1309980.0,CAPTURA,None,2025-01-27,2025-01-27,2025-01-21,1,1.0

In [23]:
818738.0+1309980.0

2128718.0

In [42]:
for i in cobros.cobro_id.unique():
    print(i)
    fac_ids=cobros_facturas.loc[cobros_facturas['cobro_id']==i].facture_id.unique()
    for j in fac_ids:
        print('',j)
        print(len(facturas.loc[facturas['id']==j,['id','facture']]))

214
 150
1
 159
1
215
 151
1
216
 152
1
 153
1
217
 154
1
 155
1
249
 157
1
 158
1
 212
1
483
 417
1
 426
0
 440
1
 441
1
 442
0
487
 374
1
 443
1
542
 455
1
573
 515
1
635
 515
1
665
 544
1

In [10]:
cobros.facture_id

AttributeError: 'DataFrame' object has no attribute 'facture_id'

In [32]:
all_facturas

NameError: name 'all_facturas' is not defined

In [18]:
cobros_facturas.loc[cobros_facturas['cobro_id']==679]

     cobro_id  facture_id    id  created_at  updated_at
639       679         167  1034  2025-01-26  2025-01-26

In [26]:
allcobros['ordinal']=range(1,len(allcobros)+1)

C:\Users\hp\AppData\Local\Temp\ipykernel_14000\141872390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allcobros['ordinal']=range(1,len(allcobros)+1)

In [27]:
allcobros

,cobro_id,order_id,id,created_at,updated_at,amount,comp,date,bank_id,customer_id,invoice,noha,seller_id,comision,total,ordinal
33,58,155,40,None,None,1252626.0,1862,2022-12-29,2,446,2950,2022,14,0.003,2505252.0,1
34,59,155,41,None,None,1002100.8,1940,2023-03-28,2,446,2950,2022,14,0.003,2505252.0,2
540,595,155,580,2024-03-01,2024-03-01,250525.2,2297,2024-03-01,2,446,2950,2022,14,0.003,2505252.0,3

In [ ]:
cobros[['invoive']]

,cobro_id,order_id,id,created_at,updated_at,amount,comp,date,bank_id,customer_id,invoice,noha,seller_id,comision,total
0,21,116,4,None,None,150000.00,1066,2020-02-24,2,506,2175,12020,2,0.030,356120.00
1,22,116,5,None,None,20000.00,1472,2021-08-16,2,506,2175,12020,2,0.030,356120.00
2,23,116,6,None,None,20000.00,1492,2021-09-17,2,506,2175,12020,2,0.030,356120.00
3,24,116,7,None,None,23200.00,1526,2021-11-12,2,506,2175,12020,2,0.030,356120.00
4,25,116,8,None,None,23200.00,1552,2021-12-23,2,506,2175,12020,2,0.030,356120.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,695,332,688,2024-05-17,2024-05-17,55482.68,2381,2024-05-16,1,418,3102,1412023,14,0.003,1090632.00
633,695,451,689,2024-05-17,2024-05-17,92624.84,2381,2024-05-16,1,418,3102,1412023,14,0.003,1090632.00
634,696,438,690,2024-05-17,2024-05-17,444048.00,2382,2024-05-16,2,337,3191,42,5,0.003,1110120.00
635,697,398,691,2024-05-17,2024-05-17,502194.16,2383,2024-05-17,2,424,3160,11,2,0.003,1062388.32
636,698,375,692,2024-05-17,2024-05-17,1087516.70,2384,2024-05-17,1,349,3142,1812023,5,0.003,2718791.76